main {
	font-size: 1.2em;
	padding-bottom: 3rem;
}
slotted-content {
	background: #fff6;
	padding: .5rem;
	border-radius: .3rem;
	box-shadow: 0 .23rem .8rem #0003;
	border: 2px solid #fff5;

}
slotted-content p {

	margin: .5rem 0 0;
}
slotted-content p.info {
	/* font-style: italic; */
	margin: 2rem 0 0rem;
	color: #333;
	line-height: 1.3;
}
slotted-content p.frame {
	border: 1px solid #aaa;
	border-radius: .4rem;
	padding: .5rem 1rem;
	background: #fff6;
}

slotted-content button {
	font-size: 1rem;
	line-height: 1.75;
}

.monospace { font-family: monospace; font-weight: 400 }