@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 500;
  src: url('/_assets/fonts/LuckiestGuyX2.woff') format('woff');
}
/** jost-600 - latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  src: url('/_assets/fonts/jost-v2-latin-600.woff2') format('woff2');
}
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/_assets/fonts/inter-v12-latin-regular.woff2') format('woff2');
}

#app {
  color: hsl(45deg 20% 20%);
}
#app[night-mode] {
  color: hsl(45deg 20% 80%);
}
#app, #app[night-mode='1'], #app[night-mode='2'] {
  --hue:45deg;
  /* --link-color: hsla(var(--hue), 90%, 70%, .85);
	--link-color-hl: hsl(var(--hue), 90%, 70%); */
  --link-color: hsla(var(--hue), 100%, 76%, .85);
	--link-color-hl: hsl(var(--hue), 100%, 76%);
}
body.night-mode-1 {
	background: hsl(50deg 7% 42%);
}
button, input, a.button {
	font-family: Inter, Open Sans, serif;
	font-size: .9em;
	line-height: 1.6;
	font-weight: 400;
}
::placeholder {
  color: hsl(var(--hue, 150deg), 21%, 53%);
}
::selection {
	background-color: hsl(var(--hue, 150deg), 100%, 64%);
	color: #000a;
}

#connection input {
  border-radius: .2rem;

}


#veil {
  pointer-events: auto; /* is .layer... */
  /* top: var(--header-height); */
  /* height: calc(100% - var(--header-height)); */
  height: 100%;
  z-index: 2;
	background: url(/_assets/images/textures/brushed-alum.png) #b3ab8f;
  filter: contrast(1.4) brightness(0.7);
	will-change: opacity, visibility;
}

#app[night-mode] #veil {
  background-blend-mode: overlay;
  background: url(/_assets/images/textures/brushed-alum-black.png) #33302b;
  filter: saturate(3) contrast(0.8) brightness(0.7);
}
#app[nightmode] #veil.show {
  opacity: .95;
}

/** CLOSING MENU **/


/** CLOSING SETTINGS **/

/* immediately fade out #settings */
#settings:not(.show) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s;
}

/* always delayed fade-out for #veil  */
#veil:not(.show){
	transition: opacity .5s .2s ease, visibility .7s;
	visibility: hidden;
	opacity: 0;
}

/* wait after menu has slided away OR #settings has faded */
#app[hidding='menu'] main {
  transition: filter .5s .2s ease;
}
/* #app[hidding='menu'] #veil {
	transition: opacity .3s .3s ease, visibility .6s;
} */

/* main {
  transition: filter .6s ease;
} */


#veil.show {
	opacity: .9;
	transition: opacity .3s ease;
}
#settings.show {
  transition: opacity .3s .15s ease;
}
#app:is(.show-menu, .show-settings) main {
  filter: blur(5px);
  transition: filter .3s ease;
}

.fadable { /* showing */
  transition: opacity .5s .15s ease;
}
.fadable.delayed-fade-in {
  transition: opacity .5s .2s ease;
}
.fadable.faded {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s;
}

vs-modal {
  --modal-bg-color: #b3ab8f;
	--modal-dark-bg-color: #45423d;
}


/*
#app:not(.show-menu, .show-settings) vs-modal ~ * {
  transition: filter .4s .4s ease;
} */
/*

*/


/* main, #grid-main {
  overflow: hidden;
} */



#page-btn {
  min-width: 11em;
  color: #000c;
  top: 2.6rem;
  padding: .4em 2em .5em;
  font-family: Luckiest Guy;
  text-transform: uppercase;
  -webkit-text-stroke: 1px hsl(47deg 71% 71% / 40%);
  /* transition: opacity .3s .5s ease; */
}
/* #page-btn.fade {
  opacity: 0;
  visibility: hidden;
  transition: opacity .12s ease, visibility .12s;
} */
#app-header {
  height: var(--header-height);
  z-index: 4;
  /* box-shadow: 0 .25rem .5rem hsla(0, 0%, 0%, .15); */
}
#title nav {
  top: 2.75rem;
  color: hsl(0, 0%, 100%);
	min-width: 12em;
	padding: .5em 1em .5em;
	border-radius: .5em;
	box-shadow: 0 0.5rem 1.2rem -0.3rem rgb(0 0 0 / 42%);
	border: .12rem solid hsl(0, 100%, 100%, .25);
	/* background: hsl(46deg 77% 60%); */
  background: hsl(45, 10%, 25%);
  /* hsl(46deg 11% 19%); */
  z-index: 22;
  transition: transform .42s .23s cubic-bezier(0.18, 0.89, 0.32, 1.28),
    opacity .42s .23s ease;
}
#title nav:not(.show) {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(calc(-100% - 3.75rem));
  transition: transform .52s cubic-bezier(.42,-0.54,.58,1), opacity .42s ease, visibility .42s

}
#app[night-mode] #title nav {
	background: hsl(46deg 32% 49%);
}


#page-btn,
#title nav a.button {
  font-size: 1rem;
	font-weight: 600;
  line-height: 1.1;
}
#title nav a.button {
  font-family: Luckiest Guy;
  text-transform: uppercase;
  -webkit-text-stroke: 1px hsl(47deg 71% 71% / 40%);
  color: #000c;
  position: relative;
  min-width: 14em;
	min-height: 2.4em;
	margin: .2em 0;
	padding: .5em 2em .75em;  /*!! padding zone is unclickable ?? */
}
#title nav a.button > * {
  pointer-events: none;
}

#title nav a.button.selected::after,
#title nav a.button.selected::before {
  content: '•';
  font-size: 2em;
  line-height: 1rem;
  opacity: .85;
  width: 1.5rem;
  position: relative;
  top: .1rem;
}


svg.fanion {
	color: hsl(45, 85%, 79%);
	z-index: -1;
}
#title {
  line-height: 1;
}
h1 {
  margin: 0;
  /* color: hsl(45, 100%, 81%); */
  color: hsl(45deg 100% 76%);
  font: 2rem/1 'Luckiest Guy';
	-webkit-text-stroke: 1px hsla(0, 100%, 4%, 0.4);
  text-shadow: 0 .1rem .4rem hsla(45, 29%, 33%, .7);
}

#night-mode-toggle {
  filter: contrast(0.15) sepia(2) hue-rotate(7deg) contrast(2) brightness(1.07) saturate(.9);
}
#app[night-mode] #night-mode-toggle {
  filter: contrast(.7) sepia(2) hue-rotate(0deg) saturate(1.75) brightness(1.07);
}
.icon.moon:not(.night) { /* undo vs default for purple theme */
  filter: none;
}
#app {
  /* background-color: #C6C6C6; */
  background-color: hsl(45deg 7% 40%);
	background-image: url(/_assets/images/textures/paper-opaque-8bit.png);
  background-blend-mode: overlay;
}
#app[night-mode='1'] {
	background-color: hsl(40, 10%, 11%);
}
#settings {
  padding: 5rem 1rem 1rem;
  z-index: 2;
  animation: fade-in .6s .3s ease;
  animation-fill-mode: backwards;
}
#close-settings-btn {
  top: 3.6rem;
  right: 1rem;
  font-weight: bold;
  /* font-size: 2em; */
  animation: fade-in .6s .3s ease;
  animation-fill-mode: backwards;
}
.fade-in {
  animation: fade-in .5s 0s ease;
  animation-fill-mode: backwards;
}
@keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
:root {
	--header-height: calc(var(--sth) / 12);
	/* --nav-bg: hsl(199, 97%, 29%); */
  --nav-bg: hsl(60, 7%, 22%);
	--nav-border: hsl(60, 7%, 17%);
	/* --blue-desat: #026492; */
	--menu-borders: hsl(60, 7%, 17%);
	/* --menu-borders-light: hsl(199, 49%, 41%); */
  --blue-gray-light: hsl(60, 7%, 22%);
  --menu-section-color: hsl(60, 7%, 22%) !important;
  --menu-section-border-top: hsl(60, 7%, 33%) !important;
  --menu-section-border-bottom: hsl(60, 7%, 12%) !important;
}
button > img {
  height: 2.25rem;
  width: auto;
}

body {
	/* background: #282828; */
  background: hsl(60, 7%, 22%);
  background: hsl(60, 7%, 25%);
	font-family: Roboto;
}
vision-stage {
  background: hsl(48, 7%, 13%);
}

main {
	padding-bottom: .5rem;
  /* overflow: hidden; */
}

#clue-grid.green #clues {
  background: hsl(115, 16%, 21%);
}
#clue-grid.green .clue {
  background: hsl(115, 11%, 27%);
  box-shadow:
		0 .75rem .5rem -.5rem rgba(0,0,0,.1),
		inset -.125rem -.125rem .2rem 0.06rem #0003,
		inset .125rem .1rem .25rem 0.08rem #ffffff07;
}
#clues {
  /* background: #3c3c34; */
  background: hsl(45, 7%, 40%);
  border-radius: .7rem;
}
.clue {
	/* background: hsl(60, 6%, 22%); */
  background: hsl(45deg 5% 27% / 70%);
  border-radius: .42rem;
  box-shadow:
		0 .5rem .5rem -.33rem rgba(0,0,0,.2),
		inset -.125rem -.125rem .2rem 0.06rem #0002,
		inset .125rem .1rem .25rem 0.08rem #ffffff1a;
}
.cell {
  background: #fdfdfd;
}
.cell.E {
  visibility: hidden;
}

#toolbar {
  position: relative;
  /* background: hsl(60, 7%, 25%); */
  background: hsl(45, 7%, 40%);
  border-radius: .7rem;
  padding: .33rem;
}
#toolbar::before {
  content: '';
  position: absolute;
  top:0; left:0; right:0; bottom:0;
  border-radius: inherit;
  box-shadow: 0 0.63rem 0.315rem -0.315rem rgba(0, 0, 0, .36);
  /* background-color: pink; */
}
#board {
  /* background: #42443c; */
  background: hsl(45, 7%, 25%);
  /* background: hsl(60, 7%, 25%); */
  box-shadow:
		.08rem .08rem 0 .08rem #3a3a33,
		-.08rem -.08rem 0 .08rem #494840,
		0 .75rem .7rem -.25rem rgba(0,0,0,.5);
}

.outset {
  box-shadow:
		inset -.1rem -.1rem .25rem rgba(0,0,0,.3),
		inset .1rem .1rem .25rem rgba(255,255,255,.05);
}
.inset {
  /* background: hsl(60, 26%, 88%); */
  background: hsl(45deg 18% 83%);
  box-shadow: inset .06rem .06rem .3rem rgba(0,0,0,0.33);
  border: .06rem solid hsl(45, 3%, 42%);
  border-bottom: .06rem solid hsl(50deg 66% 80%);
  border-right: .06rem solid hsl(50deg 66% 80%);
}
svg.icon {
  pointer-events: none;
}

#clues .clue .subject[data-clue^='pen'] {
  position: relative;
  top: -.06rem;
}
#clues .clue .subject[data-clue^='pen'] svg {
  height: 1.75rem;
}

body,
#clue-buttons button,
#clues footer button.tab-bot {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  user-select: none;
}
p {
  user-select: text;
}
.frame {
  background: #0006;
  padding: 1rem;
  border-radius: 1rem;
  margin: .25rem;
}
#settings h2 {
  margin: 0rem 0 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#settings h2:first-of-type {
  margin-top: 0;
}


.vs-box {
  background: hsla(39, 21%, 76%, 0.7);
  border: solid .3rem #0002;
}
#app[night-mode] .vs-box-inv {
  background: hsla(39, 19%, 85%, 0.7);
}
.vs-box, .vs-box-inv {
  padding: 1rem;
}
/* padding: 1rem 2rem 2rem; */
.rounded:is(.vs-box, .vs-box-inv) {
  border-radius: 1rem;
}
.rounded:is(.vs-box, .vs-box-inv) > .rounded:is(.vs-box, .vs-box-inv) {
  border-radius: .6rem;
}
.vs-box > .vs-box {
  border-width: .2rem;
  padding: .75rem;
  background: #0002;
}
#app[night-mode] .vs-box > .vs-box {
  background: #ffffff19;
}
.vs-box-inv,
#app[night-mode] .vs-box {
  background: hsl(40deg 12% 13% / 70%);
  border: solid .3rem #0002;
}

[data-valid]::before {
  content: '';
  display: block;
  position: absolute;
  top: -.2rem;
  left: -.2rem;
  width: calc(100% + .4rem);
  height: calc(100% + .4rem);
  padding: .12rem;
  border-radius: inherit;
  background-clip: content-box;
  filter: blur(.08rem);
  opacity: 0;
  transform: scale(.5);
  transition: all .4s cubic-bezier(.61,.47,.42,1.64);
  will-change: opacity, transform;
}
[data-valid='true']::before {
  transform: scale(1);
  opacity: 1;
  border: .2rem solid hsl(120, 61%, 50%, 1);
  background-color: hsl(120, 60%, 30%);
  box-shadow: 0 0 .5rem .1rem  hsla(120, 61%, 50%, 0.75);
}
[data-valid='false']::before {
  transform: scale(1);
  opacity: 1;
  border: .2rem solid rgb(255, 16, 16);
  background-color: hsla(0, 100%, 31%, 0.719);
  box-shadow: 0 0 .5rem  hsla(0, 100%, 55%, 0.75);
}

/* #app-header > span:first-child {
  flex: 0 0 10rem;
}
#app-header > span:last-child {
  flex: 0 0 10rem;
} */


input:focus, textarea:focus {
	/* outline-width: 2px; */
	outline-offset: 3px;
}