

button, input, a.button {
	/* font-size: .9em;
	line-height: 1.6; */
}
button > img {
  height: 2.25rem;
  width: auto;
}
main {
	padding-bottom: 2rem;
}
svg.icon {
  pointer-events: none;
}
html * {
  user-select: none;
}
p {
  user-select: text;
}
.frame {
  background: #0006;
  padding: 1rem;
  border-radius: 1rem;
  margin: .25rem;
}
input:focus, textarea:focus {
	outline-offset: 3px;
}

#veil {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}


/* vision-stage {
  background: hsl(48, 7%, 13%);
} */