:root {
  --app-footer-height: 0em;
}
button > img {
  height: 2.25rem;
  width: auto;
}
main {
	padding-bottom: 2rem;
}
svg.icon {
  pointer-events: none;
}
html * {
  user-select: none;
}
p {
  user-select: text;
}
.frame {
  background: #0006;
  padding: 1rem;
  border-radius: 1rem;
  margin: .25rem;
}
input:focus, textarea:focus {
	outline-offset: 3px;
}

#veil, vs-modal .bg {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}