 /* PUT CRITICAL CSS INSIDE COMPONENT; and make this async css
 or make this file super-thin */

/*/  -- FONTS --  /*/
	/* josefin-sans-regular - latin */
	@font-face {
		font-family: 'Josefin Sans';
		font-style: normal;
		font-weight: 400;
		src: url('/_assets/fonts/josefin-sans-v20-latin-regular.woff2') format('woff2');
	}
	/* josefin-sans-600 - latin */
	@font-face {
		font-family: 'Josefin Sans';
		font-style: normal;
		font-weight: 600;
		src: url('/_assets/fonts/josefin-sans-v20-latin-600.woff2') format('woff2');
	}
	/* josefin-sans-italic - latin */
	@font-face {
		font-family: 'Josefin Sans';
		font-style: italic;
		font-weight: 400;
		src: url('/_assets/fonts/josefin-sans-v20-latin-italic.woff2') format('woff2');
	}
	/* josefin-sans-600italic - latin */
	@font-face {
		font-family: 'Josefin Sans';
		font-style: italic;
		font-weight: 600;
		src: url('/_assets/fonts/josefin-sans-v20-latin-600italic.woff2') format('woff2');
	}
	/** Germes */
	@font-face {
		font-family: 'Germes';
		src: url("./_assets/fonts/GermesBoldX.woff") format("woff");
		font-weight: 700;
		font-style: normal;
	}
	/** jost-600 - latin */
	@font-face {
		font-family: 'Jost';
		font-style: normal;
		font-weight: 600;
		src: url('./_assets/fonts/jost-v2-latin-600.woff2') format('woff2');
	}
/***/

/*/  -- COLORS NEW --  /*/
	html {
		--sea: hsl(150, 100%, 64%);
		--sky: hsl(159, 100%, 83%);
		--scrollbar-bg-color: #0001;
		--scrollbar-handle-color: #FFF5;

		--blue-darker: hsl(210, 100%, 25%);
		--blue-dark: hsl(217, 66%, 41%);
		--blue-medium: hsl(217, 73%, 46%);
		--blue-medium-trans1: hsla(217, 73%, 46%, 92%);
		--blue: hsl(217, 100%, 52%);
		--blue-gray-light: hsl(214, 16%, 64%);
		--blue-gray: hsla(217, 36%, 61%, 1);
		--blue-gray-medium: hsl(214, 22%, 41%);
		--blue-gray-dark: hsl(218, 18%, 29%);
		--blue-grayer-dark: hsl(214, 6%, 25%);
		--blue-gray-darker: hsl(215, 11%, 22%);
		--blue-gray-darkest: hsl(214, 9%, 15%);

		/** PRIMARY COLOR VARIATIONS **/
		--primary-darker: var(--blue-darker);
		--primary-dark: var(--blue-dark);
		--primary-medium: var(--blue-medium);
		--primary-medium-trans1: hsla(217, 73%, 46%, 92%);
		--primary: var(--blue);
		--primary-gray-light: var(--blue-gray-light);
		--primary-gray: var(--blue-gray);
		--primary-gray-medium: var(--blue-gray-medium);
		--primary-gray-dark: var(--blue-gray-dark);
		--primary-grayer-dark: var(--blue-grayer-dark);
		--primary-gray-darker: var(--blue-gray-darker);
		--primary-gray-darkest: var(--blue-gray-darkest);
		--primary-light: hsl(217, 100%, 63%);
		--primary-lighter: hsl(217, 100%, 75%);

		--primary-darker-faded: hsla(217, 36%, 61%, 1);
	}
	body {
		background: hsl(224deg, 23%, 31%);
		color: hsl(267, 100%, 96%);
	}
	vision-stage {
		background: url(/_assets/images/textures/paper-opaque-8bit.png);
		color: var(--primary-gray-darker, #272727);
	}
	vision-stage.dark-mode {
		background-color: #16171a;
		background-blend-mode: soft-light;
		color: #fffd;
	}

	::selection {
		background-color: var(--sea); /* rgba(80, 194, 95, 0.781); */
		color: #000a;
	}
/***/

/*/  -- LOADING --  /*/
	#loading {
		font-size: 18px;
		text-align: center;
		color: white;
		z-index: 1;
		/* background: var(--purp); */
		transition: opacity .4s ease-out;
	}
	#loading.faded {
		opacity: 0;
	}
	#loading h1 { font: 900 3em/1.5 Gro Bold, Alegreya Sans SC, sans-serif; margin: 0 0 1rem; letter-spacing: .12rem; }
	#loading h1 div { font-family: Gro Bold, sans-serif; font-size: 2.4rem; line-height: 1.25; }
	#loading h2 { font: bold 2.25em/1.5 Gro Bold, sans-serif; font-style: normal !important; margin: 20px; word-spacing: .06em; letter-spacing: .06em; }
	.loader {
		--size: 1.5em;
		--pad: .75em }
	.loader.small {
		--size: .75em;
		--pad: .4em }

	#loading .loader {
		position: relative;
		width: calc( var(--size) * 3 + var(--pad) * 4);
		height: 2em }

	.loader div {
		position: absolute;
		background: var(--dots-color,white);
		width: var(--size);
		height: var(--size);
		border-radius: 50%;
		animation-timing-function: cubic-bezier(0, 1, 1, 0) }

	.loader div:nth-child(1) {
		left: var(--pad);
		animation: loader1 0.6s infinite }

	.loader div:nth-child(2) {
		left: var(--pad);
		animation: loader2 0.6s infinite }

	.loader div:nth-child(3) {
		left: calc( var(--pad) * 2 + var(--size));
		animation: loader2 0.6s infinite }

	.loader div:nth-child(4) {
		left: calc( var(--pad) * 3 + var(--size) * 2);
		animation: loader3 0.6s infinite }

	@keyframes loader1 {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1) translateX(0);
		}
	}
	@keyframes loader2 {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(calc( var(--pad) + var(--size)));
		}
	}
	@keyframes loader3 {
		0% {
			transform: scale(1);
		}
		100% {
			transform: scale(0);
		}
	}


/***/

/*/  -- BASE --  /*/
	*, *::after, *::before {
		box-sizing: inherit;

		/* touch-action: none; */
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		-webkit-touch-callout: none;
		-webkit-user-drag: none;
		user-drag: none;
		/* cursor: default; */
	}

	img { margin: 0; display: inline-block }
	noscript { color: white }

	html {
		height: 100%;
		font: 18px/1.5 Josefin Sans, serif;
	}
	body {
		margin: 0;
		min-height:100%;
		overflow: hidden;
		box-sizing: border-box;
	}
	body *:not(:defined){
		display: none !important;
	}

	svg.icon { /** inserted with useSVG('name') */
		display: inline-block;
		fill: currentColor;
		stroke: none;
		filter: drop-shadow(0 .12rem .06rem rgba(0, 0, 0, 0.22));
	}



/***/

/*/  -- INITIAL / TEMP --  /*/


	/* vision-stage:not(.resized) *
		{ transition: none !important } */

/***/


/*/  -- STAGE --  /*/

	vision-stage {
		width: var(--stw);
		height: var(--sth);
		position: relative;
		display: block;
		transition: opacity 1s .33s ease; /** delay, let #loading fade out first */
	}
	vision-stage.has-margins {
		border-radius: .5rem;
		box-shadow: 0 .125rem 1rem -.25rem rgb(0, 0, 0, .42);
	}

/***/


/**/  -- HELPERS --  /**/

vision-stage.faded { opacity: 0 !important }

.app[orientation='portrait'] .stay-big-port {
	font-size: calc(var(--sth) / 24);
}
.stay-big {
	font-size: calc(var(--sth) / 24) !important;
}

/* so button stays same size, just svg gets bigger */
.xxs svg.icon { height: 50% }
.xs svg.icon { height: 66% }
.sm svg.icon { height: 80% }
.lg svg.icon { height: 125% }
.xl svg.icon { height: 150% }
.xxl svg.icon { height: 200% }
/* ! why not apply automatically the svg height from an attrib value to --icon-height ? */
button svg.icon { height: var(--icon-height, 100%) }

.rot90 {
	transform: rotate(90deg) !important;
}
.admin:not(.app) {
	border: .125rem dotted hsl(44, 100%, 74%);
	background: hsla(44, 100%, 94%,.75);
	background-clip: padding-box;
}

/** SCROLL **/
	.scroll {
		touch-action: pan-y;
		-webkit-overflow-scrolling: touch;
		overflow-x: hidden;
		overflow-y: auto !important;
		pointer-events: auto !important; /* re-anable if .layer */
	}
	body.has-srollbar .scroll { /** has-scrollbar is auto set in JS */
		scroll-behavior: smooth;
		overflow-y: auto;
	}
	/* @media (hover: none) and (pointer: coarse) { /** touch */
	@media (hover: hover) and (pointer: fine) { /** mouse / touchpad */
		.scroll::-webkit-scrollbar {
			position: relative;
			width: .67rem;
			overflow: hidden;
		}
		.scroll.mini-scrollbar::-webkit-scrollbar {
			width: .2rem;
		}
		.scroll::-webkit-scrollbar-track {
			background-color: var(--scrollbar-bg-color);
			box-shadow: inset .2rem 0 .2rem #00000007;
		}
		.scroll::-webkit-scrollbar-thumb {
			background: var(--scrollbar-handle-color);
			border-radius: 2px;
			box-shadow:
				.07rem .15rem .25rem  rgb(0, 0, 0, .12);
		}

	}

/***/


button.dummy {
	display: none;
}
hr {
	width: 80%;
	margin: .75rem auto .25rem;
	border: none;
	border-top: 1.5px solid rgba(255, 255, 255, 0.33);
	border-bottom: 1.5px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 .15rem .2rem rgba(0, 0, 0, 0.05);
}
hr.inset {
	border-bottom: 1.5px solid rgba(255, 255, 255, 0.15);
	border-top: 1.5px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 -.15rem .2rem rgba(0, 0, 0, 0.05);
}
hr.split {
  margin-top: auto !important;
  visibility: hidden;
}
.no-events { pointer-events: none }
.nowrap { white-space: nowrap }
.pre { white-space: pre }
.text-center {text-align: center}
.text-left {text-align: left}
.text-right {text-align: right}
.text-justify {text-align: justify}

.transparent {
	opacity: 0;
	pointer-events: none;
}
.hidden { visibility: hidden !important }
.hide { display: none !important }
.collapsed { height: 0 !important }

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
	pointer-events: none;
}
/* .layer */
.height-auto {
	height: auto;
}

.layer > * {
	pointer-events: auto;
}

.abs { position: absolute !important}
.rel { position: relative }
.fixed { position: fixed }
.fixed.top, .abs.top { top:0 }
.fixed.bottom, .abs.bottom { bottom:0 }
.fixed.left, .abs.left { left:0 }
.fixed.right, .abs.right { right:0 }

[flow] > * { /** iOS may collapses elements without this... */
	flex-shrink: 0;
}
[flow],
[flow~='row'],
[flow~='row-rev'],
[flow~='col'],
[flow~='col-rev']{
	display: flex;
	align-items: center;
	justify-content: center;
}
[flow='iblk']	{display:inline-block}


[flow~='row-rev']									{flex-direction: row-reverse}
[flow~='col']											{flex-direction: column}
[flow~='col-rev']									{flex-direction: column-reverse}
[flow~='wrap']										{flex-wrap: wrap}
[flow~='inherit']									{align-items: inherit ; flex-direction: inherit}
[flow~='stretch']									{align-items: stretch}

/** SIDE ALIGNEMENTS */
[flow~='row'][flow~='top'],
[flow~='row-rev'][flow~='top'],
[flow~='col'][flow~='left'],
[flow~='col-rev'][flow~='left']		{align-items: flex-start}

[flow~='row'][flow~='bottom'],
[flow~='row-rev'][flow~='bottom'],
[flow~='col'][flow~='right'],
[flow~='col-rev'][flow~='right']	{align-items: flex-end}

[flow~='row'][flow~='baseline']	{align-items: baseline}


[flow~='row'][flow~='left'],
[flow~='row-rev'][flow~='right'],
[flow~='col'][flow~='top'],
[flow~='col-rev'][flow~='bottom']	{justify-content: flex-start}

[flow~='row'][flow~='right'],
[flow~='row-rev'][flow~='left'],
[flow~='col'][flow~='bottom'],
[flow~='col-rev'][flow~='top']		{justify-content: flex-end}

/** JUSTIFY SPACING  */
[flow~='space-between']						{justify-content: space-between}
[flow~='space-around']						{justify-content: space-around}
[flow~='space-evenly']						{justify-content: space-around; justify-content: space-evenly}

[flow~='row'][flow~='full'],
[flow~='row-rev'][flow~='full'] {
  width: 100%;
}
[flow~='col'][flow~='full'],
[flow~='col-rev'][flow~='full']{
	height: 100%;
}
[flow~='grow'] { flex-grow: 1 }

[flow~='inline'] { display: inline-flex }

/** orientation based (land vs port) */





/*/  LANDSCAPE  /*/
@media screen and (min-aspect-ratio: 101/100) {
	[flow-land~='row'],
	[flow-land~='row-rev'],
	[flow-land~='col'],
	[flow-land~='col-rev']{
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	[flow-land~='wrap'] 												{flex-wrap: wrap}
	[flow-land~='inherit']											{align-items: inherit}
	[flow-land~='stretch']											{align-items: stretch}
	[flow-land~='row-rev']											{flex-direction: row-reverse}
	[flow-land~='col']													{flex-direction: column}
	[flow-land~='col-rev']											{flex-direction: column-reverse}
	[flow-land~='row'][flow-land~='top'],
	[flow-land~='row-rev'][flow-land~='top'],
	[flow-land~='col'][flow-land~='left'],
	[flow-land~='col-rev'][flow-land~='left']		{align-items: flex-start}
	[flow-land~='row'][flow-land~='bottom'],
	[flow-land~='row-rev'][flow-land~='bottom'],
	[flow-land~='col'][flow-land~='right'],
	[flow-land~='col-rev'][flow-land~='right']	{align-items: flex-end}
	[flow-land~='row'][flow-land~='left'],
	[flow-land~='row-rev'][flow-land~='right'],
	[flow-land~='col'][flow-land~='top'],
	[flow-land~='col-rev'][flow-land~='bottom']	{justify-content: flex-start}
	[flow-land~='row'][flow-land~='right'],
	[flow-land~='row-rev'][flow-land~='left'],
	[flow-land~='col'][flow-land~='bottom'],
	[flow-land~='col-rev'][flow-land~='top']		{justify-content: flex-end}

	[flow-land~='space-between']								{justify-content: space-between}
	[flow-land~='space-around']									{justify-content: space-around}
	[flow-land~='space-evenly']									{justify-content: space-around;justify-content: space-evenly}

	[flow-land~='row'][flow-land~='full'],
	[flow-land~='row-rev'][flow-land~='full'] 	{width: 100%}
	[flow-land~='col'][flow-land~='full'],
	[flow-land~='col-rev'][flow-land~='full']		{height: 100%}
}

@media screen and (max-aspect-ratio: 1/1) {
	[flow-port~='row'],
	[flow-port~='row-rev'],
	[flow-port~='col'],
	[flow-port~='col-rev']{
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	[flow-port~='wrap']													{flex-wrap: wrap}
	[flow-port~='stretch'] 											{align-items: stretch}
	[flow-port~='inherit'] 											{align-items: inherit}
	[flow-port~='row-rev']											{flex-direction: row-reverse}
	[flow-port~='col']													{flex-direction: column}
	[flow-port~='col-rev']											{flex-direction: column-reverse}
	[flow-port~='row'][flow-port~='top'],
	[flow-port~='row-rev'][flow-port~='top'],
	[flow-port~='col'][flow-port~='left'],
	[flow-port~='col-rev'][flow-port~='left']		{align-items: flex-start}
	[flow-port~='row'][flow-port~='bottom'],
	[flow-port~='row-rev'][flow-port~='bottom'],
	[flow-port~='col'][flow-port~='right'],
	[flow-port~='col-rev'][flow-port~='right']	{align-items: flex-end}
	[flow-port~='row'][flow-port~='left'],
	[flow-port~='row-rev'][flow-port~='right'],
	[flow-port~='col'][flow-port~='top'],
	[flow-port~='col-rev'][flow-port~='bottom']	{justify-content: flex-start}
	[flow-port~='row'][flow-port~='right'],
	[flow-port~='row-rev'][flow-port~='left'],
	[flow-port~='col'][flow-port~='bottom'],
	[flow-port~='col-rev'][flow-port~='top']		{justify-content: flex-end}

	[flow-port~='space-between']								{justify-content: space-between}
	[flow-port~='space-around']								{justify-content: space-around}
	[flow-port~='space-evenly']								{justify-content: space-around;justify-content: space-evenly}

	[flow-port~='row'][flow-port~='full'],
	[flow-port~='row-rev'][flow-port~='full'] 	{width: 100%}
	[flow-port~='col'][flow-port~='full'],
	[flow-port~='col-rev'][flow-port~='full']		{height: 100%}
}

[self~='center'] {align-self: center}

[flow~='col'] [self~='bottom'] {
	margin-top: auto !important;
}

[grid-area='1']{ grid-area:1 }
[grid-area='2']{ grid-area:2 }
[grid-area='3']{ grid-area:3 }
[grid-area='4']{ grid-area:4 }
[grid-area='5']{ grid-area:5 }
[grid-area='6']{ grid-area:6 }
[grid-area='7']{ grid-area:7 }
[grid-area='8']{ grid-area:8 }
[grid-area='9']{ grid-area:9 }




/* /// needs to be checked and put in separate orientations?
[self~='left'] {margin-right:auto ; margin-left:.5rem}
[self~='right'] {margin-left:auto ; margin-right:.5rem}
/* these are defaults for row; now override for flow~=col *
[flow~='col'] > [self~='left'] {align-self: flex-start}
[flow~='col'] > [self~='right'] {align-self: flex-end}

[self~='top'] {align-self: flex-start}
[self~='bottom'] {align-self: flex-end}
/* these are defaults for row; now override for flow~=col *
[flow~='col'] > [self~='top'] {margin-bottom:auto ; margin-top:.5rem}
[flow~='col'] > [self~='bottom'] {margin-top:auto ; margin-bottom:.5rem}
*/


/***********************************************************/

button, input, .button {
	/* font: inherit; */
	font-size: inherit;
	font-family: inherit;
	line-height: 1.125;
	color: var(--primary-gray-darker);
	background: #f7f7f7;
	border: .12rem solid hsla(0deg, 0%, 100%, 50%);
}
button:hover, input:hover, .button:hover {
	transition: background .08s ease-out;
	background: #fff;
}
button[disabled], input[disabled], .button[disabled] {
	pointer-events: none;
	opacity: .6;
}
button[disabled] svg.icon, .button[disabled] svg.icon {
	opacity: .6;
}

a {
	color: var(--primary-medium);
}
a:hover {
	color: var(--primary);
}
/***********************************************************/

a.button {
	text-decoration: none;
	font-weight: 500;
}
button, a.button {
	font-size: 1em;
	border-radius: .42rem;
	padding: .33em 1ch;
	user-select: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: background-color .3s ease;
	box-shadow:
		0 0.25rem 0.6rem -0.123rem rgba(0, 0, 0, 0.18),
		inset 0 0 0.4em rgba(255, 255, 255, 0.15);
}
button > * { pointer-events: none }
button a { pointer-events: auto }

button.bare {
	background: none;
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
}
body.using-mouse *::-moz-focus-outer,
body.using-mouse *::-moz-focus-inner {
	border: 0;
}
body.using-mouse button {
	outline: none;
}

button.mini { font-size: .7em;}
button.small { font-size: .85em; } /** height = 1.7 */
button.smaller { font-size: .75em }
button.medium { font-size: 1.125em }
button.big { font-size: 1.25em }
button.bigger { font-size: 1.5em }

button.round, button.square {
	width: 2em;
	height: 2em;
	padding: .25em 0;
}
button.round {
	border-radius: 50%;
}

button.green {
	background: #32b644;
	border-color: #51d662;
	color: #fffd;
}
button.red {
	background: #a10000;
	color: #fffd;
	border-color: #c25a5a;
}
/** important buttons (call to action) and selectors (what's selected is often crutial) */
button.blue {
	background: #0a68ff;
	color: #fffe;
	border-color: #3f89ff
}

button.green:hover {
	background: #2cdb43;
}
button.red:hover {
	background: rgb(192, 0, 0);
}
button.blue:hover {
	background: #2e7eff;
}
button.green.add,
button.red.remove {
	padding: .3em 0;
}
