
vision-stage.dark-mode {
	background-color: #16171a;
	background-blend-mode: soft-light;
	color: #fffd;
}

/** FONTS **/

	/* alegreya-sans-sc-900italic - latin */
	@font-face {
		font-family: 'Alegreya Sans SC';
		font-style: italic;
		font-weight: 900;
		src: url('./_assets/fonts/alegreya-sans-sc-v12-latin-900italic.woff2') format('woff2');
	}
	/** Lato 700 */
	@font-face {
		font-family: 'Lato';
		font-weight: 700;
		font-style: italic;
		src: url("./_assets/fonts/lato-v16-latin-700.woff2") format('woff2');
	}
	/** Lato 700i */
	@font-face {
		font-family: 'Lato';
		font-weight: 700;
		font-style: italic;
		src: url("./_assets/fonts/lato-v16-latin-700italic.woff2") format('woff2');
	}
	/** alegreya-sans-sc-700italic - latin */
		/** font-display: block; not working on iOS... */
	@font-face {
		font-family: 'Alegreya Sans SC';
		font-style: italic;
		font-weight: 700;
		src: url('./_assets/fonts/alegreya-sans-sc-v9-latin-700italic.woff2') format('woff2');
	}
	/** roboto-regular - latin */
	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		src: url('./_assets/fonts/roboto-v20-latin-regular.woff2') format('woff2');
	}
	/** roboto-italic - latin */
	@font-face {
		font-family: 'Roboto';
		font-style: italic;
		font-weight: 400;
		src: url('./_assets/fonts/roboto-v20-latin-italic.woff2') format('woff2');
	}
	/** roboto-500 - latin */
	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 500;
		src: url('./_assets/fonts/roboto-v20-latin-500.woff2') format('woff2');
	}
	/** roboto-500-italic - latin */
	@font-face {
		font-family: 'Roboto';
		font-style: italic;
		font-weight: 500;
		src: url('./_assets/fonts/roboto-v20-latin-500italic.woff2') format('woff2');
	}


	/** roboto-bold - latin */
	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		src: url('./_assets/fonts/roboto-v20-latin-700.woff2') format('woff2');
	}

	/** roboto-condensed-regular - latin */
	@font-face {
		font-family: 'Roboto Condensed';
		font-style: normal;
		font-weight: 400;
		src: url('./_assets/fonts/roboto-condensed-v18-latin-regular.woff2') format('woff2');
	}
	/** roboto-condensed-700 - latin */
	@font-face {
		font-family: 'Roboto Condensed';
		font-style: normal;
		font-weight: 700;
		src: url('./_assets/fonts/roboto-condensed-v18-latin-700.woff2') format('woff2');
	}


	/** rokkitt-700 - latin */
	@font-face {
		font-family: 'Rokkitt';
		font-style: normal;
		font-weight: 700;
		src: url('./_assets/fonts/rokkitt-v18-latin-700.woff2') format('woff2');
	}
	/** jost-600 - latin */
	@font-face {
		font-family: 'Jost';
		font-style: normal;
		font-weight: 600;
		src: url('./_assets/fonts/jost-v2-latin-600.woff2') format('woff2');
	}
	/** jost-700 - latin */
	@font-face {
		font-family: 'Jost';
		font-style: normal;
		font-weight: 700;
		src: url('./_assets/fonts/jost-v2-latin-700.woff2') format('woff2');
	}
	/** jost-700italic - latin */
	@font-face {
		font-family: 'Jost';
		font-style: italic;
		font-weight: 700;
		src: url('./_assets/fonts/jost-v2-latin-700italic.woff2') format('woff2');
	}
	/** Gro Bold */
	@font-face {
		font-family: 'Gro Bold';
		src: url("./_assets/fonts/GROBOLDX.woff") format('woff');
		font-weight: 700;
		font-style: normal;
	}
	@font-face {
		font-family: 'GroBold';
		src: url("./_assets/fonts/GROBOLDX.woff") format("woff");
		font-weight: 700;
		font-style: normal;
	}
	/** Germes */
	@font-face {
		font-family: 'Germes';
		src: url("./_assets/fonts/GermesBoldX.woff") format("woff");
		font-weight: 700;
		font-style: normal;
	}
	/** Luckiest Guy */
	@font-face {
		font-family: 'Luckiest Guy';
		src: url("./_assets/fonts/luckiestGuyX2.woff") format("woff");
		font-weight: 700;
		font-style: normal;
	}
	/** Encode Sans - latin */

	@font-face {
		font-family: 'Encode Sans';
		font-style: normal;
		font-weight: 400;
		src: url('./_assets/fonts/encode-sans-v2-latin-400.woff2') format('woff2');
	}
	@font-face {
		font-family: 'Encode Sans';
		font-style: normal;
		font-weight: 600;
		src: url('./_assets/fonts/encode-sans-v2-latin-600.woff2') format('woff2');
	}
	/* mouse-memoirs-regular - latin */
	@font-face {
		font-family: 'Mouse Memoirs';
		font-style: normal;
		font-weight: 400;
		src: url('./_assets/fonts/mouse-memoirs-v8-latin-regular.woff2') format('woff2');
	}

/**  COLORS NEW  **/
	html {
		--sea: hsl(150, 100%, 64%);
		--sky: hsl(159, 100%, 83%);
		--scrollbar-bg-color: #0001;
		--scrollbar-handle-color: #FFF5;

		--blue-darker: hsl(210, 100%, 25%);
		--blue-dark: hsl(217, 66%, 41%);
		--blue-medium: hsl(217, 73%, 46%);
		--blue-medium-trans1: hsla(217, 73%, 46%, 92%);
		--blue: hsl(217, 100%, 52%);
		--blue-gray-light: hsl(214, 16%, 64%);
		--blue-gray: hsla(217, 36%, 61%, 1);
		--blue-gray-medium: hsl(214, 22%, 41%);
		--blue-gray-dark: hsl(218, 18%, 29%);
		--blue-grayer-dark: hsl(214, 6%, 25%);
		--blue-gray-darker: hsl(215, 11%, 22%);
		--blue-gray-darkest: hsl(214, 9%, 15%);

		/** PRIMARY COLOR VARIATIONS **/
		--primary-darker: var(--blue-darker);
		--primary-dark: var(--blue-dark);
		--primary-medium: var(--blue-medium);
		--primary-medium-trans1: hsla(217, 73%, 46%, 92%);
		--primary: var(--blue);
		--primary-gray-light: var(--blue-gray-light);
		--primary-gray: var(--blue-gray);
		--primary-gray-medium: var(--blue-gray-medium);
		--primary-gray-dark: var(--blue-gray-dark);
		--primary-grayer-dark: var(--blue-grayer-dark);
		--primary-gray-darker: var(--blue-gray-darker);
		--primary-gray-darkest: var(--blue-gray-darkest);
		--primary-light: hsl(217, 100%, 63%);
		--primary-lighter: hsl(217, 100%, 75%);

		--primary-darker-faded: hsla(217, 36%, 61%, 1);
	}

	body {
		/* background: var(--primary-grayer-dark); */
		background: hsl(224deg 23% 31%);
		color: hsl(267, 100%, 96%);
	}
	vision-stage {
		/*background-color: #C6C6C6; /** opaque version is mixed with #d7d7d7 */
		background: url(/_assets/images/textures/paper-opaque-8bit.png);
		color: var(--primary-gray-darker, #272727);
	}

	::selection {
		background-color: var(--sea); /* rgba(80, 194, 95, 0.781); */
		color: #000a;
	}
/***/

/** LOADING **/
	#loading {
		font-size: 18px;
		text-align: center;
		color: white;
		z-index: 1;
		/* background: var(--purp); */
		transition: opacity .4s .3s ease-in;
	}
	#loading.faded {
		opacity: 0;
	}
	#loading h1 { font: 900 3em/1.5 Gro Bold, Alegreya Sans SC, sans-serif; margin: 0 0 1rem; letter-spacing: .12rem; }
	#loading h1 div { font-family: Gro Bold, sans-serif; font-size: 2.4rem; line-height: 1.25; }
	#loading h2 { font: bold 2.25em/1.5 Gro Bold, sans-serif; font-style: normal !important; margin: 20px; word-spacing: .06em; letter-spacing: .06em; }
	.loader {
		--size: 1.5em;
		--pad: .75em }
	.loader.small {
		--size: .75em;
		--pad: .4em }

	#loading .loader {
		position: relative;
		width: calc( var(--size) * 3 + var(--pad) * 4);
		height: 2em }

	.loader div {
		position: absolute;
		background: var(--dots-color,white);
		width: var(--size);
		height: var(--size);
		border-radius: 50%;
		animation-timing-function: cubic-bezier(0, 1, 1, 0) }

	.loader div:nth-child(1) {
		left: var(--pad);
		animation: loader1 0.6s infinite }

	.loader div:nth-child(2) {
		left: var(--pad);
		animation: loader2 0.6s infinite }

	.loader div:nth-child(3) {
		left: calc( var(--pad) * 2 + var(--size));
		animation: loader2 0.6s infinite }

	.loader div:nth-child(4) {
		left: calc( var(--pad) * 3 + var(--size) * 2);
		animation: loader3 0.6s infinite }

	@keyframes loader1 {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1) translateX(0);
		}
	}
	@keyframes loader2 {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(calc( var(--pad) + var(--size)));
		}
	}
	@keyframes loader3 {
		0% {
			transform: scale(1);
		}
		100% {
			transform: scale(0);
		}
	}


/***/

/** BASE **/
	*, *::after, *::before {
		box-sizing: inherit;

		/* touch-action: none; */
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		-webkit-touch-callout: none;
		-webkit-user-drag: none;
		user-drag: none;
		/* cursor: default; */
	}

	img { margin: 0; display: inline-block }
	noscript { color: white }

	html {
		height: 100%;
		font: 18px/1.5 Roboto, sans-serif;
	}
	body {
		margin: 0;
		min-height:100%;
		overflow: hidden;
		box-sizing: border-box;
	}
	body *:not(:defined){
		display: none !important;
	}




	/**! not precise enough: what is this */
	div.icon {
		position: relative;
		/* height: 100%; */
		/* width: 2em; */
	}
	/* div.icon svg {
		height: 80%;
		pointer-events: none;
	} */

	svg.icon { /** inserted with useSVG('name') */
		display: inline-block;
		fill: currentColor;
		stroke: none;
		filter: drop-shadow(0 .12rem .06rem rgba(0, 0, 0, 0.22));
	}

/***/

/**  Z-INDEX  **/
	vision-stage
		{ z-index: 0 }
	#veil
		{ z-index: 2 } /** is initially hidden */
	popup-full
		{ z-index: 5 }

	#toggle-menu-options,
	#toggle-menu-auth,
	menu-options,
	.menu-auth,
	menu-scenes {
		z-index: 1;
		transition: z-index 0s .6s; /** delay z-index till the menu is closed */
	}
	.title-banner { /** toggle-menu-scenes; same as above but keep transform transition */
		z-index: 2; /** over main which overlaps a bit */
		transition: transform .3s ease, z-index 0s .6s;
	}

	.menu.open,
	vision-stage[opened-menu='options'] #toggle-menu-options,
	vision-stage[opened-menu='auth'] #toggle-menu-auth {
		z-index: 3;
		transition: none;
	}
	vision-stage[opened-menu='auth'] #toggle-menu-auth
		{ z-index: 4 }
	vision-stage[opened-menu='scenes'] .title-banner { /** toggle-menu-scenes; same as above but keep transform transition */
		z-index: 4;
		transition: transform .3s ease;
	}
	#menu-scenes-message {
		z-index: 3;
	}



	/**  TO TEST  **/
	vision-stage.call-attention .veil  /* no more dark veil */
		{ z-index: 3 }

/***/

/** INITIAL / TEMP **/

	vision-stage.faded
		{ opacity: 0  }
	vision-stage:not(.resized),
	vision-stage:not(.resized) *
		{ transition: none !important }
	.menu-auth
		{ pointer-events: none } /** might block scenes before its css is fully loaded */

/***/

/** SHOW-FOR:X, HIDE-FOR:X **/

	.app:not(.admin) [show-for\:admin],
	.app.admin [hide-for\:admin],

	.app:not([user-role='basic']) [show-for\:role~='basic'],
	.app:not([user-role='premium']) [show-for\:role~='premium'],
	.app[user-role='basic'] [hide-for\:role~='basic'],
	.app[user-role='premium'] [hide-for\:role~='premium'],

	.app[level='1'] *[show-for\:level]:not([show-for\:level~='1']),
	.app[level='2'] *[show-for\:level]:not([show-for\:level~='2']),
	.app[level='3'] *[show-for\:level]:not([show-for\:level~='3']),
	.app[level='4'] *[show-for\:level]:not([show-for\:level~='4']),
	.app[level='5'] *[show-for\:level]:not([show-for\:level~='5']) {
		display: none !important
	}

	/*/ to show only when menu is opened */

	/* .app[scene=''] [show-for\:scene=''],
	.app:not([scene]) [show-for\:scene=''] {
		display: none !important;
	} */



/***/

/** SIDE MENUS **/
	vision-stage.has-margins .side-menu.left {
		border-radius: .5rem 0 0 .5rem;
	}
	vision-stage.has-margins .side-menu.right {
		border-radius: 0 .5rem .5rem 0;
	}
	.side-menu a {
		color: inherit;
	}
	.side-menu h3 {
		margin: 0 auto .75em;
		font-size: 1.25em;
		font-weight: 400;
	}
	.side-menu {
		font-size: var(--header-font-size);
		pointer-events: none;
		position: absolute;
		overflow: hidden;
	}
	.side-menu > * {
		pointer-events: auto;
	}
	.side-menu.right .menu-body {
		position: absolute;
		right: 0;
		top: 0;
	}
	.side-menu.right.open .menu-body,
	.side-menu.left.open .menu-body {
		transform: translateX(0);
	}
	.side-menu.left .menu-body {
		transform: translateX(-101%);
		box-shadow:
			inset -.1rem 0 .12rem #f4f4f4,
			.2rem 0 .5rem rgba(0,0,0,.03);
	}
	.side-menu.right .menu-body {
		transform: translateX(101%);
		box-shadow:
			inset .1rem 0 .12rem #f4f4f4,
			.2rem 0 .5rem rgba(0,0,0,.03);
	}
	.side-menu .menu-body {
		height: 100%;
		width: 21em;
		max-width: 100%;
		transition: transform .3s ease;
		will-change: transform;
		overflow: hidden; /** for a scrollable child */
		/** !@todo bake in ?*/
		background: url(/_assets/images/textures/brushed-alum.png) #e1e1e1 fixed;
		background-blend-mode: color-dodge;
	}
	@media screen and (max-device-width: 25em){
		.side-menu .menu-body {
			width: 100%;
		}
	}
	.side-menu.left .menu-body section {
		font-family: Roboto Condensed, Roboto, sans-serif;
		padding: .25em 1em;
		border: .1rem solid #fffa;
		background: #fff4;
		border-radius: .25rem;
		margin: .16em .24em;
	}
	.side-menu .menu-body > header,
	.side-menu .menu-body > footer {
		align-self: stretch;
		background: var(--primary);
		color: white;
		position: relative;
	}
	.side-menu .menu-body > header {
		height: var(--header-height);
		width: 100%;
		display: grid;
		grid-template-columns: var(--top-corner-width,4em) minmax(5em,2fr) var(--top-corner-width,4em);
		align-items: center;
		justify-items: center;
	}
	.side-menu.left .menu-body > header {
		/* margin-bottom: .25em; */
	}
	.side-menu.left .menu-body > header > :first-child {
		grid-column: 2 / 3;
	}
	.side-menu .menu-body > header::before,
	.side-menu .menu-body > footer::before {
		pointer-events: none;
		content: '';
		position: absolute;
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		border: .12rem solid #fff4;
	}
	.side-menu.left .menu-body > header::before,
	.side-menu.left .menu-body > footer::before {
		border-left-color: #fff2;
	}
	.side-menu.right .menu-body > header::before,
	.side-menu.right .menu-body > footer::before {
		border-right-color: #fff2;
	}
	.side-menu .menu-body > header::before {
		border-top-color: #fff2;
		border-bottom-color: #fff5;
	}
	.side-menu .menu-body > footer::before {
		border-bottom-color: #fff2;
		border-top-color: #fff5;
	}
	vision-stage.has-margins .side-menu.left .menu-body > header::before
		{ border-radius: .5rem 0 0 0 }
	vision-stage.has-margins .side-menu.left .menu-body > footer::before
		{ border-radius: 0 0 0 .5rem }
	vision-stage.has-margins .side-menu.right .menu-body > header::before
		{ border-radius: 0 .5rem 0 0 }
	vision-stage.has-margins .side-menu.right .menu-body > footer::before
		{ border-radius: 0 0 .5rem 0 }

	.side-menu .menu-body > footer {
		text-align: center;
		min-height: var(--header-height,3.5em);
		display: grid;
		grid-template-columns: var(--top-corner-width,4em) 1fr;
		/* margin-top: auto; */
	}
	.side-menu.left .menu-body > footer a button {
		margin: 0 .75em;
	}
	.side-menu.left .menu-body > footer small {
		text-align: right;
		font-size: .85em;
		display: block;
		padding: 0 1em .5em 0;
		line-height: 1.4;
	}
	.side-menu.left .menu-body > footer small .copyright {
		font-size: 1.1em;
		position: relative;
		top: .07em;
		display: inline-block;
	}
	.side-menu.left button-colorbox,
	.side-menu.left button-checkbox {
		margin: .5rem;
	}
/***/

/** STAGE */

	vision-stage {
		width: var(--stw);
		height: var(--sth);
		position: relative;
	}
	vision-stage.has-margins {
		border-radius: .5rem;
		box-shadow: 0 .125rem 1rem -.25rem rgb(0, 0, 0, .42);
	}


/***/


vision-stage {
	display: block;
	transition: opacity 2s .2s ease; /** delay, let #loading fade out first */
}
.app[orientation='portrait'] .stay-big-port {
	font-size: calc(var(--sth) / 24);
	/* background: #fffa; */
}
.stay-big {
	font-size: calc(var(--sth) / 24) !important;
	/* !! rename ? */
}

	/* so button stays same size, just svg gets bigger */
.xxs svg.icon { height: 50% }
.xs svg.icon { height: 66% }
.sm svg.icon { height: 80% }
.lg svg.icon { height: 125% }
.xl svg.icon { height: 150% }
.xxl svg.icon { height: 200% }
/* ! why not apply automatically the svg height from an attrib value to --icon-height ? */
button svg.icon { height: var(--icon-height, 100%) }

.rot90 {
	transform: rotate(90deg) !important;
}
.admin:not(.app) {
	border: .125rem dotted hsl(44, 100%, 74%);
	background: hsla(44, 100%, 94%,.75);
	background-clip: padding-box;
}

/** SCROLL **/
	.scroll {
		touch-action: pan-y;
		-webkit-overflow-scrolling: touch;
		overflow-x: hidden;
		overflow-y: auto !important;
		pointer-events: auto !important; /* re-anable if .layer */
	}
	body.has-srollbar .scroll { /** has-scrollbar is auto set in JS */
		scroll-behavior: smooth;
		overflow-y: auto;
	}
	/* @media (hover: none) and (pointer: coarse) { /** touch */
	@media (hover: hover) and (pointer: fine) { /** mouse / touchpad */
		.scroll::-webkit-scrollbar {
			position: relative;
			width: .67rem;
			overflow: hidden;
		}
		.scroll.mini-scrollbar::-webkit-scrollbar {
			width: .2rem;
		}
		.scroll::-webkit-scrollbar-track {
			background-color: var(--scrollbar-bg-color);
			box-shadow: inset .2rem 0 .2rem #00000007;
		}
		.scroll::-webkit-scrollbar-thumb {
			background: var(--scrollbar-handle-color);
			border-radius: 2px;
			box-shadow:
				.07rem .15rem .25rem  rgb(0, 0, 0, .12);
		}

	}

/***/


button.dummy {
	display: none;
}
hr {
	width: 80%;
	margin: .75rem auto .25rem;
	border: none;
	border-top: 1.5px solid rgba(255, 255, 255, 0.33);
	border-bottom: 1.5px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 .15rem .2rem rgba(0, 0, 0, 0.05);
}
hr.inset {
	border-bottom: 1.5px solid rgba(255, 255, 255, 0.15);
	border-top: 1.5px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 -.15rem .2rem rgba(0, 0, 0, 0.05);
}
hr.split {
  margin-top: auto !important;
  visibility: hidden;
}
.no-events { pointer-events: none }
.nowrap { white-space: nowrap }
.pre { white-space: pre }
.text-center {text-align: center}
.text-left {text-align: left}
.text-right {text-align: right}
.text-justify {text-align: justify}

.transparent {
	opacity: 0;
	pointer-events: none;
}
.hidden { visibility: hidden !important }
.hide { display: none !important }
.collapsed { height: 0 !important }

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
	pointer-events: none;
}
/* .layer */
.height-auto {
	height: auto;
}

.layer > * {
	pointer-events: auto;
}

.abs { position: absolute !important}
.rel { position: relative }
.fixed { position: fixed }
.fixed.top, .abs.top { top:0 }
.fixed.bottom, .abs.bottom { bottom:0 }
.fixed.left, .abs.left { left:0 }
.fixed.right, .abs.right { right:0 }

[flow] > * { /** iOS may collapses elements without this... */
	flex-shrink: 0;
}
[flow],
[flow~='row'],
[flow~='row-rev'],
[flow~='col'],
[flow~='col-rev']{
	display: flex;
	align-items: center;
	justify-content: center;
}
[flow='iblk']	{display:inline-block}


[flow~='row-rev']									{flex-direction: row-reverse}
[flow~='col']											{flex-direction: column}
[flow~='col-rev']									{flex-direction: column-reverse}
[flow~='wrap']										{flex-wrap: wrap}
[flow~='inherit']									{align-items: inherit ; flex-direction: inherit}
[flow~='stretch']									{align-items: stretch}

/** SIDE ALIGNEMENTS */
[flow~='row'][flow~='top'],
[flow~='row-rev'][flow~='top'],
[flow~='col'][flow~='left'],
[flow~='col-rev'][flow~='left']		{align-items: flex-start}

[flow~='row'][flow~='bottom'],
[flow~='row-rev'][flow~='bottom'],
[flow~='col'][flow~='right'],
[flow~='col-rev'][flow~='right']	{align-items: flex-end}

[flow~='row'][flow~='baseline']	{align-items: baseline}


[flow~='row'][flow~='left'],
[flow~='row-rev'][flow~='right'],
[flow~='col'][flow~='top'],
[flow~='col-rev'][flow~='bottom']	{justify-content: flex-start}

[flow~='row'][flow~='right'],
[flow~='row-rev'][flow~='left'],
[flow~='col'][flow~='bottom'],
[flow~='col-rev'][flow~='top']		{justify-content: flex-end}

/** JUSTIFY SPACING  */
[flow~='space-between']						{justify-content: space-between}
[flow~='space-around']						{justify-content: space-around}
[flow~='space-evenly']						{justify-content: space-around; justify-content: space-evenly}

[flow~='row'][flow~='full'],
[flow~='row-rev'][flow~='full'] {
  width: 100%;
}
[flow~='col'][flow~='full'],
[flow~='col-rev'][flow~='full']{
	height: 100%;
}
[flow~='grow'] { flex-grow: 1 }

[flow~='inline'] { display: inline-flex }

/** orientation based (land vs port) */





/*/  LANDSCAPE  /*/
@media screen and (min-aspect-ratio: 101/100) {
	[flow-land~='row'],
	[flow-land~='row-rev'],
	[flow-land~='col'],
	[flow-land~='col-rev']{
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	[flow-land~='wrap'] 												{flex-wrap: wrap}
	[flow-land~='inherit']											{align-items: inherit}
	[flow-land~='stretch']											{align-items: stretch}
	[flow-land~='row-rev']											{flex-direction: row-reverse}
	[flow-land~='col']													{flex-direction: column}
	[flow-land~='col-rev']											{flex-direction: column-reverse}
	[flow-land~='row'][flow-land~='top'],
	[flow-land~='row-rev'][flow-land~='top'],
	[flow-land~='col'][flow-land~='left'],
	[flow-land~='col-rev'][flow-land~='left']		{align-items: flex-start}
	[flow-land~='row'][flow-land~='bottom'],
	[flow-land~='row-rev'][flow-land~='bottom'],
	[flow-land~='col'][flow-land~='right'],
	[flow-land~='col-rev'][flow-land~='right']	{align-items: flex-end}
	[flow-land~='row'][flow-land~='left'],
	[flow-land~='row-rev'][flow-land~='right'],
	[flow-land~='col'][flow-land~='top'],
	[flow-land~='col-rev'][flow-land~='bottom']	{justify-content: flex-start}
	[flow-land~='row'][flow-land~='right'],
	[flow-land~='row-rev'][flow-land~='left'],
	[flow-land~='col'][flow-land~='bottom'],
	[flow-land~='col-rev'][flow-land~='top']		{justify-content: flex-end}

	[flow-land~='space-between']								{justify-content: space-between}
	[flow-land~='space-around']									{justify-content: space-around}
	[flow-land~='space-evenly']									{justify-content: space-around;justify-content: space-evenly}

	[flow-land~='row'][flow-land~='full'],
	[flow-land~='row-rev'][flow-land~='full'] 	{width: 100%}
	[flow-land~='col'][flow-land~='full'],
	[flow-land~='col-rev'][flow-land~='full']		{height: 100%}
}

@media screen and (max-aspect-ratio: 1/1) {
	[flow-port~='row'],
	[flow-port~='row-rev'],
	[flow-port~='col'],
	[flow-port~='col-rev']{
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	[flow-port~='wrap']													{flex-wrap: wrap}
	[flow-port~='stretch'] 											{align-items: stretch}
	[flow-port~='inherit'] 											{align-items: inherit}
	[flow-port~='row-rev']											{flex-direction: row-reverse}
	[flow-port~='col']													{flex-direction: column}
	[flow-port~='col-rev']											{flex-direction: column-reverse}
	[flow-port~='row'][flow-port~='top'],
	[flow-port~='row-rev'][flow-port~='top'],
	[flow-port~='col'][flow-port~='left'],
	[flow-port~='col-rev'][flow-port~='left']		{align-items: flex-start}
	[flow-port~='row'][flow-port~='bottom'],
	[flow-port~='row-rev'][flow-port~='bottom'],
	[flow-port~='col'][flow-port~='right'],
	[flow-port~='col-rev'][flow-port~='right']	{align-items: flex-end}
	[flow-port~='row'][flow-port~='left'],
	[flow-port~='row-rev'][flow-port~='right'],
	[flow-port~='col'][flow-port~='top'],
	[flow-port~='col-rev'][flow-port~='bottom']	{justify-content: flex-start}
	[flow-port~='row'][flow-port~='right'],
	[flow-port~='row-rev'][flow-port~='left'],
	[flow-port~='col'][flow-port~='bottom'],
	[flow-port~='col-rev'][flow-port~='top']		{justify-content: flex-end}

	[flow-port~='space-between']								{justify-content: space-between}
	[flow-port~='space-around']								{justify-content: space-around}
	[flow-port~='space-evenly']								{justify-content: space-around;justify-content: space-evenly}

	[flow-port~='row'][flow-port~='full'],
	[flow-port~='row-rev'][flow-port~='full'] 	{width: 100%}
	[flow-port~='col'][flow-port~='full'],
	[flow-port~='col-rev'][flow-port~='full']		{height: 100%}
}

[self~='center'] {align-self: center}

[flow~='col'] [self~='bottom'] {
	margin-top: auto !important;
}

[grid-area='1']{ grid-area:1 }
[grid-area='2']{ grid-area:2 }
[grid-area='3']{ grid-area:3 }
[grid-area='4']{ grid-area:4 }
[grid-area='5']{ grid-area:5 }
[grid-area='6']{ grid-area:6 }
[grid-area='7']{ grid-area:7 }
[grid-area='8']{ grid-area:8 }
[grid-area='9']{ grid-area:9 }




/* /// needs to be checked and put in separate orientations?
[self~='left'] {margin-right:auto ; margin-left:.5rem}
[self~='right'] {margin-left:auto ; margin-right:.5rem}
/* these are defaults for row; now override for flow~=col *
[flow~='col'] > [self~='left'] {align-self: flex-start}
[flow~='col'] > [self~='right'] {align-self: flex-end}

[self~='top'] {align-self: flex-start}
[self~='bottom'] {align-self: flex-end}
/* these are defaults for row; now override for flow~=col *
[flow~='col'] > [self~='top'] {margin-bottom:auto ; margin-top:.5rem}
[flow~='col'] > [self~='bottom'] {margin-top:auto ; margin-bottom:.5rem}
*/


/***********************************************************/

button, input, .button {
	/* font: inherit; */
	font-size: inherit;
	font-family: inherit;
	line-height: 1.125;
	color: var(--primary-gray-darker);
	background: #f7f7f7;
	border: .12rem solid hsla(0deg, 0%, 100%, 50%);
}
button:hover, input:hover, .button:hover {
	transition: background .08s ease-out;
	background: #fff;
}
button[disabled], input[disabled], .button[disabled] {
	pointer-events: none;
	opacity: .6;
}
button[disabled] svg.icon, .button[disabled] svg.icon {
	opacity: .6;
}

a {
	color: var(--primary-medium);
}
a:hover {
	color: var(--primary);
}
/***********************************************************/

.button {
	text-decoration: none;
	font-weight: 500;
}
button, .button {
	font-size: 1em;
	/* min-height: 2em; */
	border-radius: .42rem;
	padding: .33em 1ch;
	user-select: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: background-color .3s ease;
	box-shadow:
		0 0.25rem 0.6rem -0.123rem rgba(0, 0, 0, 0.18),
		inset 0 0 0.4em rgba(255, 255, 255, 0.15);
}
button > * { pointer-events: none }
button a { pointer-events: auto }

button.bare {
	background: none;
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
}
body.using-mouse *::-moz-focus-outer,
body.using-mouse *::-moz-focus-inner {
	border: 0;
}
body.using-mouse button {
	outline: none;
}


button.mini { font-size: .7em;}
button.small { font-size: .85em; } /** height = 1.7 */
button.smaller { font-size: .75em }
button.medium { font-size: 1.125em }
button.big { font-size: 1.25em }
button.bigger { font-size: 1.5em }

button.round, button.square {
	width: 2em;
	height: 2em;
	padding: .25em 0;
}
button.round {
	border-radius: 50%;
}

button.round.UI {
	padding: .33em 0;
}
button.round.UI svg.icon {
	filter: none;
}

button.green {
	background: #32b644;
	border-color: #51d662;
	color: #fffd;
}
button.red {
	background: #a10000;
	color: #fffd;
	border-color: #c25a5a;
}
/** important buttons (call to action) and selectors (what's selected is often crutial) */
button.blue {
	background: #0a68ff;
	color: #fffe;
	border-color: #3f89ff
}


button.green:hover {
	background: #2cdb43;
}
button.red:hover {
	background: rgb(192, 0, 0);
}
button.blue:hover {
	background: #2e7eff;
}

button.green.add,
button.red.remove {
	padding: .3em 0;
}

/* button svg.icon {
	height: 100%;
} */
button.UI {
	color: var(--primary-gray-medium);
}

/***********************************************************/

input {
	/*height: 1.7rem; /** matches button.small height */
}
input[type='text'], input[type='email'], input[type='password']{
	padding: 0 .5ch;

}
input[type='text']:focus , input[type='email']:focus {
	background: #fcfcfc;
	outline: none;
	border-color: hsl(44, 100%, 74%);
}
::placeholder {
	color: #7089af;
	color: #8b8b8b;
	font-style: italic;
}
.app.ios input[type=text], .app.ios input[type=email], .app.ios input[type=password] {
	/* -webkit-appearance: none; */
	background-image: linear-gradient(transparent, transparent);
	border-radius: 0;
}

input[type=number] {
	padding: 0 0 0 .125em;
	outline: none;

}

.app input[type=number]::-webkit-inner-spin-button {
  opacity: 0;
	margin-left: .25em;
}
.app input[type=number]:hover::-webkit-inner-spin-button,
.app input[type=number]:focus::-webkit-inner-spin-button {
  opacity: 1;
}

/***********************************************************/

.tab-group {
  display: flex;
  margin: auto;
  justify-content: center;
}
.tab-group button {
	font-size: .9em;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
	height: 2.66em;
  min-width: 8em;
	border-width: .12em;
	border-bottom-color: #00000009;
	border-bottom-color: transparent;
  /* border-color: var(--blue-medium); */
	color: var(--primary-darker-faded, orange);
}
.tab-group button:first-of-type {
  border-radius: 1rem 0 0 0;
	border-right-color: #00000009;
}
.tab-group button:last-of-type {
  border-radius: 0 1rem 0 0;
}
.tab-group button.selected {
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-thickness: 2px;
	font-weight: bold;
	background: #fff;
	color: var(--primary-dark);
}

/***********************************************************/
/* /  Mobile screens: make inputs & buttons larger  / */

@media (pointer: coarse) {
	simple-selector  		{ font-size: 1.18em }
	/*input								{ font-size: 1.18em } /**! TEST */
}


.levels {
  position: absolute;
  z-index: 1;
	grid-row: 2;
  top: 2.25em;
	justify-self: center;
}
.levels button {
  font-size: 1em;
  width: 3.3em;
  height: 2.5em;
  margin: 0 .33em;
  position: relative;
  align-items: flex-start;
  /** more intense (higher overshoot) for smaller images */
  transition: transform 0.22s cubic-bezier(0.21, 0.63, 0.52, 1.72);
  will-change: transform;
}
.jump,
.levels button.selected {
  transform: scale(1.33);
  transform-origin: center center;
}
.levels button.selected:active {
  transform: scale(1.44) !important; /** override default depressed fx */
}

.levels button img {
  object-fit: contain;
  height: 100%;
  width: auto;
}
.levels button img.shadow {
  position: relative;
  height: 2.6em;
  top: .25em;
  opacity: .6;
  filter: blur(1.5px);
  will-change: transform;
}
.levels button.selected img.shadow {
  transform: scale(1.1);

}
.levels button:nth-of-type(1) img.top {
  filter: contrast(.9) brightness(1.15) !important;
}
.levels button:nth-of-type(2) img.top {
  filter: contrast(.33) brightness(1.6) !important;
}
.levels button:nth-of-type(3) img.top {
  filter: contrast(.9) brightness(1.15) !important;
}
.levels button img.shadow {
  z-index: 0;
}

/** DÉFI */



