
button, input, a.button {
	/* font-size: .9em; */
	line-height: 1.62; /* match vs-selector height */
}

:where(#app[highlight])
:is( vs-selector button:not(.bare), button.primary ) {
	--btn-text-color: var(--text-color-dark, #000e);
}
.dark-components vs-selector button:not(.primary):not(.bare) {
	--btn-text-color: var(--text-color-light, #fffe);
}


#app[highlight='yellow-green'] {
	--hue: 95deg;
	--primary: hsl(95deg, 90%, 72%);
	/* --link-color: hsl(80, 85%, 51%);
	--link-color-hl: hsl(80, 98%, 56%); */
}
#app[highlight='yellow-green'] button.primary {
	--btn-bg-color: hsl(var(--hue), 90%, 72%);
}

#app[highlight='yellow'] {
	--hue: 80deg;
	--primary: hsl(80deg 85% 70%);
	/* --link-color: hsl(72deg 100% 66%);
	--link-color-hl: hsl(72deg 100% 66%); */
}
#app[highlight='yellow'] button.primary {
	--btn-bg-color: hsl(var(--hue), 85%, 70%);
}

#app[highlight='green'] {
	--hue: 115deg;
	--primary: hsl(115deg, 80%, 70%);
	/* --link-color: hsl(104, 69%, 55%);
	--link-color-hl: hsl(104, 76%, 60%); */
}
#app[highlight='green'] button.primary {
	--btn-bg-color: hsl(var(--hue), 85%, 70%);
}

#app[highlight='purple'] {
	--hue: 268deg;
	--primary: hsl(268, 100%, 76%);

}
#app[highlight='purple'] button.primary {
	--btn-text-color: var(--text-color-light, #fffe);
	--btn-text-color-hl: var(--text-color-light, #fffe);

	/* --btn-bg-color: hsl(var(--hue), 85%, 70%); */
}






.bg-light {
	background: #eee;
	color: #333;
}

h1 { margin: 1.5rem 0 0 ; background: var(--theme-hsl); }
h2 { margin: 1rem 0 0 }
h3 { margin: 0 }

main { padding-bottom: 5rem }