html {
	height: 100%;
	/* filter: hue-rotate(10deg); */
	font-size: 18px;
}
body {
	margin: 0;
	font: 400 18px/1.33 'Josefin Sans', sans-serif;
	color: #333;
	background: hsl(80deg 0% 65%);
}
main {
	margin: 1rem auto;
	max-width: 55rem;
	background: url(/_assets/images/textures/paper-white.png) #ddd;
	background-attachment: local;
	border-radius: .5rem;
	box-shadow: 0 .5rem .75rem .25rem hsla(80, 9%, 27%, 0.25);
}
body * {
	box-sizing: border-box;
}
section {
	padding: 0 2rem;
}
::selection {
	background-color: hsl(80, 76%, 67%);
}
a {
	color: hsl(80, 76%, 67%);
	display: inline-block;
	background: hsl(40, 6%, 20%);
	padding-inline: .6rem;
	padding-top: .12rem;
	border-radius: 1rem;
	text-decoration: none;
}
a:hover {
	color: hsl(80, 100%, 73%);
	text-decoration: underline;
}

#profile-pic {
	display: inline-block;
	height: 6rem;
	border-radius: 50%;
	padding: .3rem;
	border: .15rem solid hsl(80deg 66% 63% / 70%);
}
#profile-pic img {
	border-radius: 50%;
	display: block;
	height: 100%;
	/* box-shadow: 0 0rem .2rem .1rem hsl(43, 26%, 20%); */
	filter: saturate(.1) brightness(1.17);
}
.dark {
	color: #eee;
	background: hsl(80, 6%, 20%);
}
#profile-header {
	margin-bottom: 4rem;
	border-radius: .5rem .5rem 0 0;
}
#header-infos {
	border-top: 1px solid #4e4e4e;
	padding: .75rem 2rem;
}
header a {
	padding: 0 0 0 .125rem;
	background: none;
	text-decoration: none;
}
header .icon {
	margin-right: 2px;
	color: #fffc;
}
header .icon.phone {
	font-size: .82em;
	position: relative;
	top: -1px;
}
header .icon.email {
	position: relative;
	top: 1px;

}
h1 {
	font-size: 2.125rem;
	margin: 0;
	line-height: 1;

}
h1 {
	font-weight: 600;
	font-family: Josefin Slab;
}

h2 {
	color: #111;
	font-size: 2rem;
	font-weight: 300;
	margin: 2rem 0 1.5rem;
}
h3 {
	color: #555;
	font-size: 1.33rem;
	font-weight: 400;
	margin: 0;
}
h1 > span:nth-child(2)::before {
	content: '';
	display: block;
	position: absolute;
	margin-top: -.3rem;
	width: 6.6rem;
	height: 6.6rem;
	border-radius: 50%;
	border: .12rem solid hsl(80deg 76% 63% / 33%);
}
.full-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	width: 100%;
}
.full-grid > span:first-child {
	justify-self: start;
}
.full-grid > span:last-child {
	justify-self: end;
}
.cell {
	/* flex: 1 1 12rem;
	max-width: 16rem; */
	line-height: 1.12;
}
small {
	display: block;
	/* font-style: italic; */
	color: #666;
	margin: .125rem 0 .75rem;
	padding-left: .1rem;
}

h2 + h3 {
	margin-top: 2rem;
}
small + p {
	font-size: .9rem;
	margin-top: .25rem;
	margin-bottom: 2.25rem;
	background: #fff6;
	padding: 1rem;
	color: #555;
	border-radius: 0 .7rem 0 .7rem;
}
ul {
	padding: 0 0 0 2rem;
}
ul, h2, h3 {
	line-height: 1.2;
}
ul li {
	margin-bottom: .5em;
}
hr {
	width: calc(100% - 2rem);
	margin: 2rem auto;
}
#title {
	padding: 1.4rem 2rem 1rem;
}
main > footer {
	height: 7rem;
	border-radius: 0 0 .5rem .5rem;
}
@media (max-width: 42em) {
	#header-infos.full-grid {
		/* grid-template-rows: 1fr 1fr 1fr; */
		grid-template-columns: auto;
		grid-template-areas:
			"head head"
			"botleft botright";
		height: 7rem;
	}
	#header-infos.full-grid > span:nth-child(1) {
		grid-area: botleft;
	}
	#header-infos.full-grid > span:nth-child(2) {
		grid-area: head;
	}
	#header-infos.full-grid > span:nth-child(3) {
		grid-area: botright;
	}
	#title, #header-infos, section {
		padding-inline: 1.25rem;
	}
	ul {
		padding: 0 0 0 1.25rem;
	}
	h1.full-grid {
		font-size: 2rem;
		grid-template-columns: auto auto auto;
	}

}
@media print {
	main { margin: 0 auto }
	body, main, a {
		background: none;
	}
	a {
		color: hsl(80, 50%, 51%);
		padding: 0;
	}
	.dark {
		color: #333;
		background: none;
	}
	#profile-pic img {
		mix-blend-mode: unset;
		filter: saturate(.5) brightness(1.1) contrast(1.1);
	}
	header a, span.icon {
		color: inherit;
	}
	main > footer {
		display: none !important;
	}
	small + p {
		background: #f1f1f1;
	}
}



.nowrap { white-space: nowrap }
[flow],
[flow~='row'],
[flow~='row-rev'],
[flow~='col'],
[flow~='col-rev']{
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: flex-start; /* when wrapped */
}
[flow~='content-center'] {
	align-content: center;
}
[flow='iblk']	{display:inline-block}

[flow~='row-rev']							{flex-direction: row-reverse}
[flow~='col']								{flex-direction: column}
[flow~='col-rev']							{flex-direction: column-reverse}
[flow~='wrap']								{flex-wrap: wrap}
[flow~='inherit']							{align-items: inherit ; flex-direction: inherit}
[flow~='stretch']							{align-items: stretch}

/** SIDE ALIGNEMENTS */
[flow~='row'][flow~='top'],
[flow~='row-rev'][flow~='top'],
[flow~='col'][flow~='left'],
[flow~='col-rev'][flow~='left']		{align-items: flex-start}

[flow~='row'][flow~='bottom'],
[flow~='row-rev'][flow~='bottom'],
[flow~='col'][flow~='right'],
[flow~='col-rev'][flow~='right']		{align-items: flex-end}

[flow~='row'][flow~='baseline']		{align-items: baseline}


[flow~='row'][flow~='left'],
[flow~='row-rev'][flow~='right'],
[flow~='col'][flow~='top'],
[flow~='col-rev'][flow~='bottom']	{justify-content: flex-start}

[flow~='row'][flow~='right'],
[flow~='row-rev'][flow~='left'],
[flow~='col'][flow~='bottom'],
[flow~='col-rev'][flow~='top']		{justify-content: flex-end}

/** JUSTIFY SPACING  */
[flow~='space-between']					{justify-content: space-between}
[flow~='space-around']					{justify-content: space-around}
[flow~='space-evenly']					{justify-content: space-around; justify-content: space-evenly}

[flow~='row'][flow~='full'],
[flow~='row-rev'][flow~='full'] {
  width: 100%;
}
[flow~='col'][flow~='full'],
[flow~='col-rev'][flow~='full']{
	height: 100%;
}
.grow,
[flow~='grow'] { flex-grow: 1 }
[flow~='inline'] { display: inline-flex }
[self~='center'] { align-self: center }
[flow~='col'] [self~='bottom'] { margin-top: auto !important }


[flow~='gaps'], .gaps { gap: 1em }
[flow~='gaps-small'], .gaps-small { gap: .5em }
[flow~='gaps-x-small'], .gaps-x-small { gap: .25em }
[flow~='gaps-xx-small'], .gaps-xx-small { gap: 2px }
[flow~='gaps-large'], .gaps-large { gap: 2em }
[flow~='gaps-x-large'], .gaps-x-large { gap: 3em }

[flow~='col'][flow~='block-gaps'],
[flow~='row'][flow~='inline-gaps'] { column-gap: 1em }
[flow~='col'][flow~='block-gaps-small'],
[flow~='row'][flow~='inline-gaps-small'] { column-gap: .5em }
[flow~='col'][flow~='block-gaps-x-small'],
[flow~='row'][flow~='inline-gaps-x-small'] { column-gap: .25em }
[flow~='col'][flow~='block-gaps-xx-small'],
[flow~='row'][flow~='inline-gaps-xx-small'] { column-gap: 2px }
[flow~='col'][flow~='block-gaps-large'],
[flow~='row'][flow~='inline-gaps-large'] { column-gap: 2em }
[flow~='col'][flow~='block-gaps-x-large'],
[flow~='row'][flow~='inline-gaps-x-large'] { column-gap: 3em }

[flow~='row'][flow~='block-gaps'],
[flow~='col'][flow~='inline-gaps'] { row-gap: 1em }
[flow~='row'][flow~='block-gaps-small'],
[flow~='col'][flow~='inline-gaps-small'] { row-gap: .5em }
[flow~='row'][flow~='block-gaps-x-small'],
[flow~='col'][flow~='inline-gaps-x-small'] { row-gap: .25em }
[flow~='row'][flow~='block-gaps-xx-small'],
[flow~='col'][flow~='inline-gaps-xx-small'] { row-gap: 2px }
[flow~='row'][flow~='block-gaps-large'],
[flow~='col'][flow~='inline-gaps-large'] { row-gap: 2em }
[flow~='row'][flow~='block-gaps-large'],
[flow~='col'][flow~='inline-gaps-x-large'] { row-gap: 3em }

.text-center {text-align: center}
.text-left {text-align: left}
.text-right {text-align: right}
.text-justify {text-align: justify}