
main {
	font-size: 1.15em;
	/* position: relative; */
}
/** make grid lines for typographic alignment */
.typo-grid main::after {
	pointer-events: none;
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	--step: 1.75rem;
	background: repeating-linear-gradient(to bottom, transparent 1px var(--step), #4446 var(--step) calc(var(--step) + 1px));
	mix-blend-mode: color-dodge;
}
h1 {
	font-size: 3rem;
	line-height: 1;
	text-align: center;
	font-weight: 600;
	color: hsl(250deg 100% 82%);
	text-shadow: 0 0.08em 11px hsl(260, 100%, 69%);
	-webkit-text-stroke: #fff7 0.1rem;
	margin: 4.7rem 0 0;
}
h2 {
	line-height: 1;
	font-weight: 400;
	font-size: 1.7rem;
	margin: 3.3rem 0 .2rem;
}
#app[orientation='portrait'] h2 {
	font-size: 1.5rem;
	margin: 4.1rem 0 .6rem;
}
#app[orientation='portrait'] main p {
	/* font-size: 1rem; */
}
.intro strong {
	font-weight: 400
}
main p {
	line-height: 1.75rem;

}
#app[page='motivation'] #app-content {
	background: hsl(256deg 71% 37% / 70%);
	background-attachment: fixed;
	font-size: .88em;
}
main#home p {
	max-width: 64rem;
}
#app[orientation='portrait'] main p {
	line-height: 1.75rem;
}

.intro {
	font-weight: 300;
	color: hsl(250, 100%, 94%);
}
.intro a { font-weight: 400 }
body[night-mode] .intro {
	color: hsl(250deg 100% 92%);
}
.intro p {
	margin-block: 0;
}

h1 small {
	font-size: .72em;
	opacity: .76;
}

#tagline {
	font-size: 1.1em;
	line-height: 1.5;
	letter-spacing: .06em;
	margin: -.2rem 0 0;
	color: hsl(250, 100%, 88%);
	text-shadow: 0 .1rem .2rem hsl(261, 15%, 23%, .6);
}

hr.medium {
	margin: .125rem auto .6rem;
}
hr.small {
	margin: .125rem auto .25rem;
	width: 16rem;
}

.frame {
	border: .1rem solid hsl(160, 100%, 95%, .7);
	padding: 1ch 3ch;
	background: hsl(159, 100%, 80%,.37);
	color: hsl(160, 90%, 98%);
	border-radius: .33rem;
	text-shadow: 0 .1rem .2rem hsl(261, 15%, 23%, .6);
}
body[night-mode] .frame {
	background: hsla(256, 100%, 80%, 0.37);
	color: hsl(256deg 100% 92%);

}

main > footer a {
	letter-spacing: 1px;
}

/** Reusable styles **/

#btn-prev-presentation {
	transform: scaleX(-1);
}

#app[orientation='portrait'] .portrait-break {
	display: block;
	visibility: hidden;
	height: 0;
}
#app[orientation='portrait'] #tagline {
	margin-bottom: 2rem;
}
/** OVERRIDES **/

#app[orientation='portrait'] .frame { padding:1ch 0 ; margin-inline:1ch !important }
#app[orientation='portrait'] hr { width:90% }
#app[orientation='portrait'] #presentation { margin-bottom:.7rem !important ; top:auto !important }

#app[aspect-range*='portrait'] .equal-deco { display: none }

#app[aspect-range*='portrait'] #app-header.lang-center #lang-bar {
	justify-content: start;
	order: -1;
	border: none;
}
#app[aspect-range*='portrait'] #app-header > span:first-child {
	text-align: center;
}

#app-header > span:is(:first-child, :nth-child(2)) {
	padding-top: .1rem;
}
