
button, input, a.button {
	font-family: Inter, Open Sans, serif;
	font-size: .9em;
	line-height: 1.6;
	font-weight: 400;
}

/* :is(button, input, .button):not(.colored) {
	font-weight: 460;
}*/

#app {
	--hue: 150deg;
	--lum: 61%;
	--primary: hsl(150deg, 90%, 62%);
}
#app[highlight='green'] {
	--hue: 115deg;
	--primary: hsl(115deg, 80%, 70%);
}

#app[highlight='yellow-green'] {
	--hue: 95deg;
	/* --primary: hsl(95deg, 90%, 72%); */
}
#app[highlight='yellow-green'] button.primary {
	--btn-bg-color: hsl(var(--hue), 90%, 72%);
}
#app[highlight='yellow'] button.primary {
	--btn-bg-color: hsl(var(--hue), 85%, 70%);
}
#app[highlight='green'] button.primary {
	--btn-bg-color: hsl(var(--hue), 85%, 70%);
}

/* EX adjustments: */
/* #app[highlight='yellow-green'].light-controls button.primary-adapt {
	--btn-bg-color: hsl(var(--hue), 77%, 88%);
}
#app[highlight='yellow-green'].dark-controls button.primary-adapt {
	--btn-bg-color: hsl(var(--hue), 29%, 20%);
} */

#app[highlight='yellow'] {
	--hue: 80deg;
	--primary: hsl(80deg, 85%, 70%);
}




/** LINKS **/
#app[highlight='yellow-green'].bright-bg,
#app[highlight='yellow-green'].dark-bg {
	--link-color: hsla(var(--hue), 68%, 60%);
	--link-color-hl: hsl(var(--hue), 93%, 70%);
}

#app[theme-bg='whitish'] {
	--scrollbar-handle-color: #555;
	/* --main-hue: 200deg; */
	--scrolls-shadow-color: #0003;
	--scrolls-header-background: #222;
	--scrolls-footer-background: #222;
	text-shadow: 0 .1rem .12rem hsl(261, 15%, 23%, .5);
	background: url(/_assets/images/textures/paper-opaque-8bit.png);
}

	/* --btn-outline: hsla(var(--theme-hue), 100%, 62%, .5); */
/**!/ find out what to do with links / bare buttons on pale bg... */



@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: url(/_assets/fonts/open-sans/open-sans-v29-latin-300.woff2) format('woff2');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	src: url(/_assets/fonts/open-sans/open-sans-v29-latin-300italic.woff2) format('woff2');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url(/_assets/fonts/open-sans/open-sans-v29-latin-regular.woff2) format('woff2');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: url(/_assets/fonts/open-sans/open-sans-v29-latin-italic.woff2) format('woff2');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	src: url(/_assets/fonts/open-sans/open-sans-v29-latin-500.woff2) format('woff2');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 500;
	src: url(/_assets/fonts/open-sans/open-sans-v29-latin-500italic.woff2) format('woff2');
}
h1 { margin: 1.5rem 0 0 ; background: var(--theme-hsl); }
h2 { margin: 1rem 0 0 }
h3 { margin: 0 }

.has-dark-bg :is(h2, h3) { font-weight: 300 } /** light text **/
.has-bright-bg :is(h2, h3) { font-weight: 400 }

/* h2,h3 { display:none } */
main { padding-bottom: 5rem }


/**
#app[night-mode='2'] h1 {
	color: hsl(344, 67%, 64%);
	text-shadow: 0 0.16rem 0.5rem hsl(330deg 63% 45%);
	-webkit-text-stroke: #fff4 .1rem;
}
#app[night-mode='2'] .vivid { color: hsl(345, 80%, 75%) }
#app[night-mode='2'] .soft { color: hsl(346, 100%, 82%) }
#app[night-mode='2'] .filter { filter: hue-rotate(208deg) }
*/

.grid-2x3 {
	display: grid !important;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	gap: 1px;
	background: palegreen;
	padding: 1rem;
}
.grid-2x3 > button { border-radius: 0 !important}
.grid-2x3 > button:nth-child(2n+1)
	{ border-right-color: var(--btn-border-color-darker) }
.grid-2x3 > button:nth-child(2n)
	{ border-left-color: var(--btn-border-color-lighter) }
.grid-2x3 > button/*:not(:last-child):not(:nth-child(5)) /* first four / not last two */
	{ border-bottom-color: var(--btn-border-color-darker) !important}
.grid-2x3 > button
	{ border-top-color: var(--btn-border-color-lighter) }
