/**
 * Appearence: colors, filters, opacity, z-index, animations, transition…
 * Not layout.
 */

:root {
	--hue: 150deg;
	--text-color-dark: #000C;
	--text-color-light: #eee;
	--text-color-dark-strong: #000;
	--text-color-light-strong: #fff;

	--scrollbar-bg-color: #0001;
	--scrollbar-handle-color: #FFF8;
	--scrolls-shadow-color: #9999;
	--scrolls-over-shadow-top-color: #aaa4;
	--scrolls-over-shadow-bottom-color: #bbb4;

	--btn-bg-color: 					hsl(0deg 0% 96%);
	--btn-bg-color-hl: 				hsl(0deg 0% 100%);
	--btn-text-color: 				hsl(0deg 0% 7% / 95%);
	--btn-text-color-hl: 			hsl(0deg 0% 7%);
	--btn-border-color: 				hsl(0deg 0% 100% / 50%);
	--btn-border-color-hl: 			hsl(0deg 0% 100% / 60%);
}
/** define at this level so they use a possibly overriden --hue within #app[highlight='xyz'] */
#app {
	--primary: hsl(var(--hue), 90%, 70%);
	--primary-hl: hsl(var(--hue), 90%, 78%);
	--primary-inactive: hsl(var(--hue), 15%, 50%, .7);
	--btn-border-color-darker: 	hsl(var(--hue) 12% 88%);
	--btn-border-color-lighter: 	hsl(var(--hue) 12% 100%);
	--btn-outline-color: 			hsl(var(--hue) 37% 64%);
	--inp-outline-color: hsl(var(--hue), 90%, 70%, .85);
}

.primary {
	--btn-bg-color: 					hsl(var(--hue) 90% 70%);
	--btn-bg-color-hl: 				hsl(var(--hue) 90% 78%);
	--btn-text-color: 				hsl(0deg 0% 7% / 95%);
	--btn-text-color-hl: 			hsl(0deg 0% 7%);
}
.primary-inactive {
	--btn-bg-color: 					hsl(var(--hue) 20% 65%);
	--btn-bg-color-hl: 				hsl(var(--hue) 20% 65%);
	--btn-text-color: 				hsl(0deg 0% 27% / 95%);
	--btn-text-color-hl: 			hsl(0deg 0% 27%);
}
[night-mode] .primary-inactive {
	--btn-bg-color: 					hsl(var(--hue) 20% 65%);
	--btn-bg-color-hl: 				hsl(var(--hue) 20% 65% / 75%);
}

button {
	color: var(--btn-text-color, red);
	/** For white on white */
	box-shadow:
		0 0.25rem 0.6rem -0.123rem hsl(0deg 0% 0% / 25%);
}
/** For dark on white */
.dark-components button:not(.primary):not(.bare):not(.bare-part) {
	box-shadow: 0 0.25rem 0.6rem -0.123rem hsl(0deg 0% 0% / 50%);
}
/** For dark on dark */
body[night-mode]
.dark-components button:not(.primary):not(.bare):not(.bare-part) {
	box-shadow:
		0 0.25rem 0.6rem -0.123rem hsl(0deg 0% 0% / 12%);
}

button:hover {
	color: var(--btn-text-color-hl, red);
}
button.bare {
	color: var(--text-color-dark, orange);
}
button.bare:hover {
	color: var(--text-color-dark-strong, orange);
}
body[night-mode] button.bare {
	color: var(--text-color-light, orange);
}
body[night-mode] button.bare:hover {
	color: var(--text-color-light-strong, orange);
}


button.dark,
.dark-components {
	--btn-bg-color: 					hsl(0deg 0% 15%);
	--btn-bg-color-hl: 				hsl(0deg 0% 19%);
	--btn-text-color: 				hsl(0deg 0% 100% / 93%);
	--btn-text-color-hl: 			hsl(0deg 0% 100%);
}

button.dark,
.dark-components button:not(.primary):not(.bare):not(.bare-part) {
	--btn-border-color: 				hsl(0deg 0% 0% / 25%);
	--btn-border-color-hl: 			hsl(0deg 0% 0% / 50%);
	--btn-border-color-darker: 	hsl(var(--hue) 11% 11%);
	--btn-border-color-lighter: 	hsl(var(--hue) 0% 19%);
	--btn-outline-color: 			hsl(var(--hue) 90% 62% / 50%);
	font-weight: 300;
}


textarea.dark,
input[type='text'].dark,
.dark-components :is(input[type='text'], textarea) {
	font-weight: 300;
	--inp-text-color: #eee;
	--inp-text-color-hl: #fff;
	--inp-bg-color: #3a3a3a;
	--inp-bg-color-hl: #333;
	--inp-border-color: #555;
	--inp-border-color-hl: #555;
}

body {
	color: var(--text-color-dark, red);
	background: #2b2b2b;
}
body[night-mode], .bg-dark {
	color: var(--text-color-light, red);
	background: #1c1c1c;

	--scrolls-over-shadow-top-color: #222;
	--scrolls-over-shadow-bottom-color: #222a;
	--scrolls-shadow-color: #2224; /* hsl(256 0% 25% / 75%) */
}

#app.content-has-scrollbar #app-header {
	box-shadow: 0 .25rem .5rem var(--scrolls-shadow-color);
}
#app.content-has-scrollbar #app-footer {
	box-shadow: 0 -.25rem .5rem var(--scrolls-shadow-color);
}
body[night-mode] #app.content-has-scrollbar #app-header {
	box-shadow: 0 .25rem .33rem var(--scrolls-shadow-color);
}
body[night-mode] #app.content-has-scrollbar #app-footer {
	box-shadow: 0 -.25rem .33rem var(--scrolls-shadow-color);
}
.scroll.shadow::before,
.scroll.shadow::after {
	mix-blend-mode: multiply;
}
body[night-mode] .scroll.shadow::before,
body[night-mode] .scroll.shadow::after {
	mix-blend-mode: darken;
}

/** Replicate bg on #app-content to use bg-attachment: local */
vision-stage,
#app-content.scroll {
	/* background-color: red; */
	background-image: url(/_assets/images/textures/paper-opaque-8bit.png);
	background-attachment: local;
}

body[night-mode] vision-stage,
body[night-mode] #app-content.scroll {
	background-image: url(/_assets/images/textures/paper-opaque-8bit.png);
	background-color: #333;
	background-blend-mode: multiply;
}

#veil {
	background: url(/_assets/images/textures/brushed-alum.png) hsl(240deg 0% 60%);
	filter: contrast(0.92) brightness(1);
	opacity: .94;
}
body[night-mode] #veil {
  background-blend-mode: overlay;
  background: url(/_assets/images/textures/brushed-alum-black.png) hsl(0, 0%, 13%);
  filter: contrast(0.8) brightness(0.7);
}

#app[orientation='portrait'] nav.v-menu {
	background-color: hsl(150deg 13% 17%);
	--link-color: hsl(150, 90%, 70%);
	--link-color-hl: hsl(150, 90%, 62%);
}
#app[orientation='portrait'] nav.v-menu a {
	border: 1px solid hsl(161deg 54% 25%);
	background: hsl(164deg 21% 24%);
}

/* #app[orientation='portrait'] nav.v-menu {
	background-color: hsl(217 13% 17%);
}
#app[orientation='portrait'] nav.v-menu a {
	border: 1px solid hsl(var(--hue) 15% 30%);
	background: hsl(var(--hue) 65% 85%);
} */
/* #app[orientation='portrait'] nav.v-menu a:hover {
	background: hsl(216, 100%, 90%);
}
body[night-mode] #app[orientation='portrait'] nav.v-menu a {
	background: hsl(var(--hue) 16% 13%);
}
body[night-mode] #app[orientation='portrait'] nav.v-menu a:hover {
	background: hsl(216, 17%, 17%);
} */
.icon.moon:not(.night){
	filter: brightness(0.6);
}
.sun.dark {
	filter: brightness(0.6);
}


/**  primary-adapt: a lighter primary color when light-controls  **/
button.primary-adapt,
vs-slider input[type=range]::-webkit-slider-thumb {
	--btn-bg-color: hsl(var(--hue), 77%, 88%); /* subtle */
	--btn-bg-color-hl: hsl(var(--hue), 100%, 88%);
	/* --btn-text-color: ;
	--btn-text-color-hl: ; */
	/* --btn-border-color: ;
	--btn-border-color-hl: ; */
	--btn-border-color-darker: hsl(var(--hue), 50%, 84%);
	--btn-border-color-lighter: hsl(var(--hue), 100%, 92%);
	/* --btn-outline-color: hsl(var(--hue), 90%, 50%, 0.5); */
}
/**  primary-adapt: a darker primary color when dark-bg  **/
.dark-components button.primary-adapt,
.dark-components vs-slider input[type=range]::-webkit-slider-thumb {
	--btn-bg-color: hsl(var(--hue), 29%, 20%); /* subtle */
	--btn-bg-color-hl: hsl(var(--hue), 29%, 24%);
	/* --btn-text-color: ;
	--btn-text-color-hl: ; */
	--btn-border-color:  hsl(var(--hue), 70%, 12%);
	--btn-border-color-hl: hsl(var(--hue), 70%, 14%);
	--btn-border-color-darker:  hsl(var(--hue), 19%, 17%);
	--btn-border-color-lighter: hsl(var(--hue), 20%, 26%);
	/* --btn-outline-color: hsl(var(--hue), 90%, 70%, 0.5); */
}

button.blue {
	--btn-bg-color: hsl(217, 100%, 52%);
	--btn-bg-color-hl: hsl(217, 90%, 55%);
	--btn-text-color: #fffe;
	--btn-text-color-hl: #fffe;
	--btn-border-color: hsl(217, 100%, 62%);
	--btn-border-color-hl: hsl(217, 100%, 66%);
	--btn-border-color-darker: hsl(217, 80%, 42%);
	--btn-border-color-lighter: hsl(217, 100%, 72%);
}
/* .dark-components button.blue {
	--btn-bg-color: ;
	--btn-bg-color-hl: ;
	--btn-text-color: ;
	--btn-text-color-hl: ;
	--btn-border-color: ;
	--btn-border-color-hl: ;
	--btn-border-color-darker: ;
	--btn-border-color-lighter: ;
} */
button.green {
	font-weight: 300;
	--btn-bg-color: hsl(128, 54%, 44%);
	--btn-bg-color-hl: hsl(128, 50%, 48%);
	--btn-text-color: #000e;
	--btn-text-color-hl: #fffe;
	--btn-border-color: hsl(128, 58%, 49%);
	--btn-border-color-hl: hsl(128, 58%, 49%);
	--btn-border-color-darker: hsl(128, 50%, 35%);
	--btn-border-color-lighter: hsl(128, 58%, 59%);
	/* --btn-outline-color: hsl(128, 100%, 65%); */
}
/* .dark-components button.green {
	--btn-bg-color: ;
	--btn-bg-color-hl: ;
	--btn-text-color: ;
	--btn-text-color-hl: ;
	--btn-border-color: ;
	--btn-border-color-hl: ;
	--btn-border-color-darker: ;
	--btn-border-color-lighter: ;
} */
button.yellow {
	font-weight: 300;
	--btn-bg-color: hsl(60, 90%, 72%);
	--btn-bg-color-hl: hsl(60, 100%, 79%);
	--btn-text-color: #000e;
	--btn-text-color-hl: #000e;
	--btn-border-color: hsl(60, 100%, 68%);
	--btn-border-color-hl: hsl(60, 100%, 68%);
	--btn-border-color-darker: hsl(60, 100%, 58%);
	--btn-border-color-lighter: hsl(60, 100%, 78%);
	/* --btn-outline-color: hsl(60, 100%, 52%); */
}
button.orange {
	--btn-bg-color: hsl(16, 100%, 60%);
	--btn-bg-color-hl: hsl(16, 100%, 65%);
	--btn-text-color: white;
	--btn-text-color-hl: white;
	--btn-border-color: hsl(29, 100%, 68%);
	--btn-border-color-hl: hsl(29, 100%, 68%);
	--btn-border-color-darker: hsl(29, 100%, 42%);
	--btn-border-color-lighter: hsl(29, 90%, 77%);
	/* --btn-outline-color: hsl(16, 100%, 52%); */
	text-shadow: 0 .07rem .07rem rgba(0, 0, 0, .2);
}
/* .dark-components button.orange {
	--btn-bg-color: ;
	--btn-bg-color-hl: ;
	--btn-text-color: ;
	--btn-text-color-hl: ;
	--btn-border-color: ;
	--btn-border-color-hl: ;
	--btn-border-color-darker: ;
	--btn-border-color-lighter: ;
} */
button.red {
	--btn-bg-color: hsl(0, 100%, 38%);
	--btn-bg-color-hl: hsl(0, 76%, 48%);
	--btn-text-color: #fffd;
	--btn-text-color-hl: #fffd;
	--btn-border-color: hsl(0, 46%, 56%);
	--btn-border-color-hl: hsl(0, 46%, 56%);
	--btn-border-color-darker: hsl(0, 46%, 46%);
	--btn-border-color-lighter: hsl(0, 88%, 60%);
	/* --btn-outline-color: hsl(0, 100%, 59%); */
}
/* .dark-components button.red {
	--btn-bg-color: ;
	--btn-bg-color-hl: ;
	--btn-text-color: ;
	--btn-text-color-hl: ;
	--btn-border-color: ;
	--btn-border-color-hl: ;
	--btn-border-color-darker: ;
	--btn-border-color-lighter: ;
} */

vs-slider input[type=range]::-webkit-slider-thumb {
	background-color: var(--btn-bg-color);
}
vs-slider input[type=range]::-webkit-slider-thumb:hover {
	background-color: var(--btn-bg-color-hl);
}
button:not(.bare) {
	color: var(--btn-text-color, --text-color-dark);
	background-color: var(--btn-bg-color);
	border: .12rem solid var(--btn-border-color);
}
button:hover,
body:not(.using-mouse) button:not(.bare):focus {
	color: var(--btn-text-color-hl, red);
}
button:not(.bare):hover,
body:not(.using-mouse) button:not(.bare):focus {
	background-color: var(--btn-bg-color-hl, var(--btn-bg-color));
	border-color: var(--btn-border-color-hl);
}

body:not(.using-mouse) nav a:-webkit-any-link:focus-visible {
	outline-offset: .25rem;
	border-radius: .12rem;
}
body:not(.using-mouse) #title nav a:focus-visible {
	outline: none;
}

body:not(.using-mouse) button:focus {
	outline-width: 2px;
	outline-style: solid;
	outline-color: var(--btn-outline-color);
	outline-offset: 3px;
}
body:not(.using-mouse) button.bare:focus {
	outline-offset: 0;
}

.button-group[flow~='row'] > button:not(:last-of-type)
	{ border-right-color: var(--btn-border-color-darker) }
.button-group[flow~='row'] > button:not(:first-of-type)
	{ border-left-color: var(--btn-border-color-lighter) }
.button-group[flow~='col'] > button:not(:last-of-type)
	{ border-bottom-color: var(--btn-border-color-darker) }
.button-group[flow~='col'] > button:not(:first-of-type)
	{ border-top-color: var(--btn-border-color-lighter) }



/**  inputs  **/
/* .light-controls :is(input, textarea) {
	--inp-text-color: #111;
	--inp-text-color-hl: #111;
	--inp-bg-color: #f7f7f7;
	--inp-bg-color-hl: #fff;
	--inp-border-color: #ffffff80;
	--inp-outline-color: #0007;
}
.dark-components :is(input, textarea) {
	--inp-text-color: #111;
	--inp-text-color-hl: #111;
	--inp-bg-color: #f7f7f7;
	--inp-bg-color-hl: #fff;
	--inp-border-color: #ffffff80;
	--inp-outline-color: #0007;
} */
:root {
	--inp-text-color: var(--text-color-dark, red);
	--inp-text-color-hl: var(--text-color-dark, blue);
	--inp-bg-color: #f7f7f7;
	--inp-bg-color-hl: #fff;
	--inp-border-color: #fff;
	--inp-border-color-hl: #fff;
	--inp-outline-color: hsl(217, 90%, 62%);
}
input, textarea {

	background: var(--inp-bg-color);
	border: .12rem solid var(--inp-border-color);
	color: var(--inp-text-color);
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	color: var(--inp-text-color-hl);
	background: var(--inp-bg-color-hl);
	border-color: var(--inp-border-color-hl);
}
input:focus, textarea:focus {
	outline-width: 2px;
	outline-style: solid;
	outline-offset: -2px;
	outline-color: var(--inp-outline-color);
}

/**  LINKS and bare buttons text color **/

/* button.bare .vs-icon, */
a { color: var(--link-color, var(--text-color-dark-strong, currentColor)) }

/* button.bare:hover .vs-icon, */
a.selected,
a:hover { color: var(--link-color-hl, var(--text-color-dark-strong, currentColor)) }

/* button.bare.selected .vs-icon,
button.bare:hover .vs-icon,  */



/* body[night-mode] textarea {
	background: field;
	color: fieldText;
} */

button.underline {
	/* color: var(--primary-inactive); */
}
/*! should use explicit .primary when selected */
button.underline.selected {
	/* color: var(--btn-bg-color); */
}
button.underline:hover {
	/* color: var(--primary-hl); */
}

nav.v-menu a {
	color: var(--link-color);
	text-decoration-color: currentColor;
	/* color: hsl(var(--hue), 90%, 70%, .78); */
	/* text-decoration-color: hsl(var(--hue), 90%, 70%, .6); */

}
nav.v-menu a.selected {
	/* color: hsl(var(--hue), 90%, 70%, .95); */
	/* text-decoration-color: currentColor; */
	color: var(--link-color-hl);
}
button.underline {
	/* color: inherit; */
	font-weight: 600;
}
body[night-mode] button.underline {
	font-weight: 400;
}

/* nav.v-menu a:hover {
	color: var(--link-color-hl);
} */

main:not(.no-fade-in) {
	/** auto fade-in page when its rendered */
	animation: fade-in .22s ease-in;
}
@keyframes fade-in {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

#app-header, #app-footer {
	background: #0001;
	transition: background-color .3s ease;
	z-index: 6;
}

nav {
	color: var(--link-color);
}
nav.v-menu a:focus {
	outline: 1px solid var(--link-color-hl);
	outline-offset: .4rem;
}
nav a:not(.selected):not(:hover) {
	text-decoration: none;
}
.nav-sep {
	opacity: .5;
}
#app[orientation='portrait'] .nav-sep {
	display: none;
}
button.underline {
	text-decoration: underline;
}
svg.icon { /** inserted with useSVG('name') */
	fill: currentColor;
	stroke: none;
	/* filter: drop-shadow(0 .12rem .06rem rgba(0, 0, 0, 0.22)); */
}

