/*! components styles will load after this; we must use more specific selectors… */

:root {
	--nav-bg: hsl(60, 7%, 22%);
	--nav-border: hsl(60, 7%, 17%);
	--menu-borders: hsl(60, 7%, 17%);
	--blue-gray-light: hsl(60, 7%, 22%);
	--menu-section-color: hsl(60, 7%, 22%) !important;
	--menu-section-border-top: hsl(60, 7%, 33%) !important;
	--menu-section-border-bottom: hsl(60, 7%, 12%) !important;
	--hue:45deg;
	--primary: hsl(45, 100%, 76%);
	--primary-hl: hsl(45, 100%, 73%);
}
body {
	/* declare on body to match correct body[night-mode] --hue */
	--primary-inactive: hsl(var(--hue), 45%, 66%);
  background: hsl(60, 7%, 22%);
}

body[night-mode='1'] {
	background-color: hsl(50deg 7% 42%);
	--primary-inactive: hsla(var(--hue), 30%, 60%, .6);

}
body, body[night-mode] {
	--link-color: hsla(45, 100%, 76%, .85);
	--link-color-hl: hsl(45, 100%, 76%);
}
#app-content, body[night-mode] #app-content {
	background: none !important;
}
#app {
	color: hsl(45deg 20% 20%);
	background-color: hsl(45deg 7% 40%);
	background-image: url(/_assets/images/textures/paper-opaque-8bit.png);
	background-blend-mode: overlay;
}
body[night-mode] #app {
  color: hsl(45deg 20% 80%);
}
body[night-mode='1'] #app {
	background-color: hsl(40, 10%, 11%);
}
#app, body[night-mode] #app {
}
/* body[night-mode] {
	--hue: 45deg;
	--primary: hsl(45, 93%, 79%);
	--primary-hl: hsl(45, 100%, 83%);
	--link-color: hsla(45, 100%, 82%, 1);
	--link-color-hl: hsl(45, 100%, 85%);
} */

.icon.moon:not(.night) {
  /* undo v-s default for purple theme */
  filter: none;
}

#night-mode-toggle {
  filter: contrast(0.15) sepia(2) hue-rotate(7deg) contrast(2) brightness(1.07) saturate(.9);
}
body[night-mode] #night-mode-toggle {
  filter: contrast(.7) sepia(2) hue-rotate(0deg) saturate(1.75) brightness(1.07);
}

::placeholder {
  color: hsl(var(--hue, 150deg), 21%, 53%);
}
::selection {
	background-color: hsl(var(--hue, 150deg), 100%, 64%);
	color: #000a;
}

#app-header h1 {
	color: hsl(45deg 100% 76%);
	-webkit-text-stroke: 1px hsla(0, 100%, 4%, 0.4);
	text-shadow: 0 .1rem .4rem hsla(45, 29%, 33%, .7);
}

#veil {
	background: url(/_assets/images/textures/brushed-alum.png) #b3ab8f;
	filter: contrast(1.4) brightness(0.7);
}
body[night-mode] #veil {
  background-blend-mode: overlay;
  background: url(/_assets/images/textures/brushed-alum-black.png) #33302b;
  filter: saturate(3) contrast(0.8) brightness(0.7);
}

vs-modal .content {
  mix-blend-mode: hard-light; /* overlay is cool too... */
}
body[night-mode] vs-modal .content {
  mix-blend-mode: normal; /* overlay is cool too... */
  background: hsl(50deg 7% 42%);
}
#app vs-modal {
	/* --modal-bg: url(/_assets/images/textures/brushed-alum.png) #b3ab8f; */
	--modal-bg: url(
	/_assets/images/textures/brushed-alum.png) hsl(47deg 15% 59%);
	/* --modal-bg-filter: contrast(1.4) brightness(0.7);
	--modal-bg-blend-mode: overlay; */
	--modal-dark-bg: url(/_assets/images/textures/brushed-alum-black.png) #45423d;
	--modal-dark-bg-filter:
		saturate(3.5) contrast(0.7) brightness(0.64);
	/* --modal-dark-bg-filter:
		saturate(3) contrast(0.8) brightness(0.7); */

	--modal-dark-bg-blend-mode: overlay;

}

/* .vs-box */
#app .vs-box {
  background: hsla(39, 21%, 76%, 0.7);
  border: solid .3rem #0002;
}
body body[night-mode] .vs-box-inv {
  background: hsla(39, 19%, 85%, 0.7);
}
#app .vs-box-inv,
body body[night-mode] .vs-box {
  background: hsl(40deg 12% 13% / 70%);
}

svg.fanion {
	color: hsl(45, 85%, 79%);
	z-index: -1;
}
body[night-mode] #title nav {
	background: hsl(46deg 32% 49%);
}
#title nav {
	background: hsl(45, 10%, 25%);
}
#page-btn,
#title nav a.button {
  -webkit-text-stroke: 1px hsl(47deg 71% 71% / 40%);
}

body:not(.using-mouse) #title nav a:focus-visible svg.fanion {
	color: hsl(45, 100%, 78%);
	stroke: #d1a100;
}