@import './appearance.css';

:root {
	--app-header-height: calc(var(--alt-scaling-fs-em) * 3.5);
	--app-footer-height: calc(var(--alt-scaling-fs-em) * 3.5);
	font: 1rem/1.5 Josefin Sans, serif;
}
.alt-scaling {
	--app-header-height: 3.5em;
	--app-footer-height: 3.5em;
}

*, *::after, *::before {
	box-sizing: inherit;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
}
img { margin: 0; display: inline-block }

html {
	height: 100%;
	font: 18px/1.5 Josefin Sans, serif;
	/* background: #ddd; */
}
body {
	margin: 0;
	min-height:100%;
	overflow: hidden;
	box-sizing: border-box;
	/* background: #ddd; */
}
vision-stage {
	/* background: #eee; */
	width: var(--stw);
	height: var(--sth);
	position: relative;
	transition: opacity 1s .1s ease; /** delay, let #loading fade out first */
	overflow: hidden; /* to hide bottom nav menu */
}
vision-stage.has-margins {
	border-radius: .5rem;
	box-shadow: 0 .125rem 1rem -.25rem rgb(0, 0, 0, .42);
}

/** micro adjustment to vertical position for icons */
[shift], .icon { position: relative }
[shift='-1'], .shift-up-1 { top: -.02rem }
[shift='-2'], .shift-up-2 { top: -.04rem }
[shift='1'], .shift-down-1 { top: .02rem }
[shift='2'], .shift-down-2 { top: .04rem }


#app[orientation='portrait'] .alt-scaling {
	/** uses em to allow super-scaling adjustments from parents */
	font-size: var(--alt-scaling-fs-em) !important;
}

#app.content-has-scrollbar .scroll.shadow::before,
#app.content-has-scrollbar .scroll.shadow::after {
	content: '';
	pointer-events: none;
}
.scroll.shadow::before, .scroll.shadow::after {
	display: block;
	position: absolute;
	z-index: 3;
	width: 100%;
	left: 0;
	/* font-size: var(--alt-scaling-fs) !important; */
	/* in px, not em; Match the alt scaling of header/footer, without the possible super-scaling of these pseudo-elements' parent (#app-content), which may have another font-size than 1rem. */
}
.scroll.shadow::before { /* top:  */
	background: linear-gradient(to bottom, var(--scrolls-over-shadow-top-color), #0000);
	/* mix-blend-mode: color-burn; */
	height: 2.5em;
}
.scroll.shadow:after {
	background: linear-gradient(to top, var(--scrolls-over-shadow-bottom-color), #0000);
	bottom: var(--app-footer-height);
	height: 1.5em;
}

#veil {
	pointer-events: auto; /* is .layer... */
	height: calc(100% - var(--app-header-height) - var(--app-footer-height));
	top: var(--app-header-height);
	z-index: 4;
	will-change: opacity, visibility;
}

#settings:not(.show) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s;
}
/* always delay fade-out for #veil (delay while menu or settings are fading out) */
#veil:not(.show){
	transition: opacity .5s .2s ease, visibility .7s;
	visibility: hidden;
	opacity: 0;
}

/* wait after menu has slided away OR #settings has faded */
#app[hidding='menu'] main {
  transition: filter .5s .2s ease;
}
#veil.show {
	transition: opacity .3s ease;
}

#settings.show {
  transition: all .3s .15s ease; /* opacity, but filter also when blurred by modal */
}
#app:is(.show-menu, .show-settings) main {
  filter: blur(5px);
  transition: filter .3s ease;
}

.fadable { /* showing */
  transition: opacity .5s .15s ease;
}
.fadable.delayed-fade-in {
  transition: opacity .5s .2s ease;
}
.fadable.faded {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s;
}

.vs-box, .vs-box-inv {
  padding: 1rem;
}
:is(.vs-box, .vs-box-inv).rounded {
  border-radius: 1rem;
}
:is(.vs-box, .vs-box-inv).rounded > :is(.vs-box, .vs-box-inv).rounded {
  border-radius: .6rem;
}
.vs-box > .vs-box {
  border-width: .2rem;
  padding: .75rem;
  background: #0002;
}
body[night-mode] .vs-box > .vs-box {
  background: #ffffff19;
}

/** SCROLL **/
	.scroll {
		touch-action: pan-y;
		-webkit-overflow-scrolling: touch;
		overflow-x: hidden;
		overflow-y: auto !important;
		pointer-events: auto !important; /* re-anable if .layer */
	}
	body.has-srollbar .scroll { /** has-scrollbar is auto set in JS */
		scroll-behavior: smooth;
		overflow-y: auto;
	}
	/* @media (hover: none) and (pointer: coarse) { /** touch */
	@media (hover: hover) and (pointer: fine) { /** mouse / touchpad */
		.scroll-hidden::-webkit-scrollbar {
			visibility: hidden;
		}
		/* .scroll-hidden::-webkit-scrollbar, */
		.scroll::-webkit-scrollbar {
			position: relative;
			width: .67rem;
			overflow: hidden;
		}
		#app.content-has-scrollbar #app-content.scroll,
		#app.content-has-scrollbar main.scroll {
			padding-left: .67rem;
		}
		.scroll.scroll-hidden::-webkit-scrollbar {
			width: 0 !important;
		}

		.scroll.tiny::-webkit-scrollbar {
			width: .2rem;
		}
		#app.content-has-scrollbar #app-content.scroll.tiny,
		#app.content-has-scrollbar main.scroll.tiny {
			padding-left: .2rem;
		}
		.scroll::-webkit-scrollbar-track {
			background-color: var(--scrollbar-bg-color);
			box-shadow: inset .2rem 0 .2rem #00000007;
		}
		.scroll::-webkit-scrollbar-thumb {
			background: var(--scrollbar-handle-color);
			border-radius: 2px;
			box-shadow:
				.07rem .15rem .25rem  rgb(0, 0, 0, .12);
		}

	}


button.dummy { visibility: hidden }
hr {
	width: 100%;
	margin: 1rem auto .5rem;
	border: none;
	border-top: 1.5px solid rgba(255, 255, 255, 0.33);
	border-bottom: 1.5px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 .15rem .2rem rgba(0, 0, 0, 0.05);
}
hr.inset {
	border-bottom: 1.5px solid rgba(255, 255, 255, 0.15);
	border-top: 1.5px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 -.15rem .2rem rgba(0, 0, 0, 0.05);
}
hr.split {
  margin-top: auto !important;
  visibility: hidden;
}
.no-events { pointer-events: none }
.events { pointer-events: auto !important }
.nowrap { white-space: nowrap }
@supports (-moz-appearance:none) {
    .nowrap {
        white-space: normal;
    }
}
.pre { white-space: pre }
.text-center {text-align: center}
.text-left {text-align: left}
.text-right {text-align: right}
.text-justify {text-align: justify}
.no-margin { margin: 0 }

.transparent {
	opacity: 0;
	pointer-events: none;
}
.hidden { visibility: hidden !important }
.hide { display: none !important }
.collapsed { height: 0 !important }
.layer {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	pointer-events: none;
}
.layer-item {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
/* for .layer */
.height-auto { height: auto }
.layer > * { pointer-events: auto }
.abs { position: absolute !important}
.rel { position: relative }
.fixed { position: fixed }
.fixed.top, .abs.top { top:0 }
.fixed.bottom, .abs.bottom { bottom:0 }
.fixed.left, .abs.left { left:0 }
.fixed.right, .abs.right { right:0 }
.pink { background-color: rgba(255, 192, 203, 0.267) }
.m-1 { margin: 1rem }
.m-t-auto { margin-top: auto }
[flow],
[flow~='row'],
[flow~='row-rev'],
[flow~='col'],
[flow~='col-rev']{
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: flex-start; /* when wrapped */
}
[flow~='content-center'] {
	align-content: center;
}
[flow='iblk']	{display:inline-block}

[flow~='row-rev']							{flex-direction: row-reverse}
[flow~='col']								{flex-direction: column}
[flow~='col-rev']							{flex-direction: column-reverse}
[flow~='wrap']								{flex-wrap: wrap}
[flow~='inherit']							{align-items: inherit ; flex-direction: inherit}
[flow~='stretch']							{align-items: stretch}

/** SIDE ALIGNEMENTS */
[flow~='row'][flow~='top'],
[flow~='row-rev'][flow~='top'],
[flow~='col'][flow~='left'],
[flow~='col-rev'][flow~='left']		{align-items: flex-start}

[flow~='row'][flow~='bottom'],
[flow~='row-rev'][flow~='bottom'],
[flow~='col'][flow~='right'],
[flow~='col-rev'][flow~='right']		{align-items: flex-end}

[flow~='row'][flow~='baseline']		{align-items: baseline}


[flow~='row'][flow~='left'],
[flow~='row-rev'][flow~='right'],
[flow~='col'][flow~='top'],
[flow~='col-rev'][flow~='bottom']	{justify-content: flex-start}

[flow~='row'][flow~='right'],
[flow~='row-rev'][flow~='left'],
[flow~='col'][flow~='bottom'],
[flow~='col-rev'][flow~='top']		{justify-content: flex-end}

/** JUSTIFY SPACING  */
[flow~='space-between']					{justify-content: space-between}
[flow~='space-around']					{justify-content: space-around}
[flow~='space-evenly']					{justify-content: space-around; justify-content: space-evenly}

[flow~='row'][flow~='full'],
[flow~='row-rev'][flow~='full'] {
  min-width: 100%;
}
[flow~='col'][flow~='full'],
[flow~='col-rev'][flow~='full']{
	min-height: 100%;
}
.grow,
[flow~='grow'] { flex-grow: 1 }
[flow~='inline'] { display: inline-flex }
/* [self~='center'] { align-self: center } */
/* [flow~='col'] [self~='bottom'] { margin-top: auto !important } */

[flow~='gaps'], .gaps { gap: 1em }
[flow~='gaps-small'], .gaps-small { gap: .5em }
[flow~='gaps-x-small'], .gaps-x-small { gap: .25em }
[flow~='gaps-xx-small'], .gaps-xx-small { gap: 2px }
[flow~='gaps-large'], .gaps-large { gap: 2em }
[flow~='gaps-x-large'], .gaps-x-large { gap: 3em }

[flow~='col'][flow~='block-gaps'],
[flow~='row'][flow~='inline-gaps'] { column-gap: 1em }
[flow~='col'][flow~='block-gaps-small'],
[flow~='row'][flow~='inline-gaps-small'] { column-gap: .5em }
[flow~='col'][flow~='block-gaps-x-small'],
[flow~='row'][flow~='inline-gaps-x-small'] { column-gap: .25em }
[flow~='col'][flow~='block-gaps-xx-small'],
[flow~='row'][flow~='inline-gaps-xx-small'] { column-gap: 2px }
[flow~='col'][flow~='block-gaps-large'],
[flow~='row'][flow~='inline-gaps-large'] { column-gap: 2em }
[flow~='col'][flow~='block-gaps-x-large'],
[flow~='row'][flow~='inline-gaps-x-large'] { column-gap: 3em }

[flow~='row'][flow~='block-gaps'],
[flow~='col'][flow~='inline-gaps'] { row-gap: 1em }
[flow~='row'][flow~='block-gaps-small'],
[flow~='col'][flow~='inline-gaps-small'] { row-gap: .5em }
[flow~='row'][flow~='block-gaps-x-small'],
[flow~='col'][flow~='inline-gaps-x-small'] { row-gap: .25em }
[flow~='row'][flow~='block-gaps-xx-small'],
[flow~='col'][flow~='inline-gaps-xx-small'] { row-gap: 2px }
[flow~='row'][flow~='block-gaps-large'],
[flow~='col'][flow~='inline-gaps-large'] { row-gap: 2em }
[flow~='row'][flow~='block-gaps-large'],
[flow~='col'][flow~='inline-gaps-x-large'] { row-gap: 3em }

[flow] > p + p:not(:first-of-type) { margin-top: 0 }
span.vs-icon {
	height: 1em;
	width: 1em;
	line-height: 1;
	display: inline-block;
}
span.vs-icon svg {
	height: 100%;
	width: 100%;
	display: inline-block;
	fill: currentColor;
	stroke: none;
	/* filter: drop-shadow(0 .12rem .06rem rgba(0, 0, 0, .25)); */
}

/* josefin-sans-300 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/_assets/fonts/josefin-sans/josefin-sans-v24-latin-300.woff2') format('woff2');
}
/* josefin-sans-300italic - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 300;
  src: url('/_assets/fonts/josefin-sans/josefin-sans-v24-latin-300italic.woff2') format('woff2');
}
/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/_assets/fonts/josefin-sans/josefin-sans-v24-latin-regular.woff2') format('woff2');
}
/* josefin-sans-italic - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/_assets/fonts/josefin-sans/josefin-sans-v24-latin-italic.woff2') format('woff2');
}
/* josefin-sans-600 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/_assets/fonts/josefin-sans/josefin-sans-v24-latin-600.woff2') format('woff2');
}
/* Font for buttons / text inputs */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('/_assets/fonts/inter/inter-v12-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/_assets/fonts/inter/inter-v12-latin-regular.woff2') format('woff2');
}

#app-header, #app-footer {
	flex-shrink: 0; /* else shrinks when overflowing scrolling content */
}
#app-header {
	height: var(--app-header-height);
	padding: .5em 1em;
}
#app-header h1 {
	margin: 0;
	line-height: 1.5;
}
#night-mode-toggle {
	line-height: 1;
}
#app-footer {
	flex-shrink: 0;
	height: var(--app-footer-height, auto);
}
#app-footer nav {
	padding: 0 1rem;
}
nav small { opacity: .7 }
#nav-toggle { display: none }
nav { user-select: none }

.titlecase { text-transform: capitalize }
.uppercase { text-transform: uppercase }
.josefin-300 { font: 300 1em/normal Josefin Sans, sans-serif }
.josefin-400 { font: 400 1em/normal Josefin Sans, sans-serif }
.josefin-600 { font: 600 1em/normal Josefin Sans, sans-serif }

.equal-deco {
	cursor: default;
	user-select: none;
	font-size: 2.3em;
	padding-bottom: .04em;
	font-weight: 400;
	font-family: serif;
	line-height: 1;
	display: inline-block;

}

/** vertical menu */

#app[orientation='portrait'] nav.v-menu {
	pointer-events: none;
	flex-direction: column;
	align-items: stretch !important;
	gap: 1rem;
	position: absolute;
	top: var(--app-footer-height);
	border-radius: .5rem;
	padding: 1rem 2.5rem;
	text-align: center;
	box-shadow: 0 .4rem 1rem #0004;
	/* transition: all .3s ease; */
	transition: transform .5s cubic-bezier(.68, -.28, .82, .11);
	/* inverse: 1-C, 1-D, 1-A, 1-B -> A:0.18, B:0.89, C:0.32, D:1.28 =
		 1-.32, 1-1.28, 1-.18 , 1-.89 => .68, -.28, .82, .11  */
}
#app[orientation='portrait'].show-menu nav.v-menu {
	position: absolute;
	transform: translateY(calc(-100% - var(--app-footer-height) - 1rem));
	transition: transform .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

nav.v-menu a {
	padding: 0 .25rem;
}
#app[orientation='portrait'] nav.v-menu a {
	padding: .4rem 2rem;
	border-radius: .23rem;
}
#app[orientation='portrait'] #nav-toggle {
	display: inline-flex;
}

nav.v-menu a { width: 100% }
nav.v-menu .marker:empty { display: none }
nav.v-menu .marker {
	font-size: .9em;
	pointer-events: none;
	display: inline-block;
	line-height: .7;
	position: absolute;
	bottom: -.5rem;
}
nav.v-menu .marker.ext {
	bottom: -.75rem;
}
nav.v-menu span.link {
	position: relative;
}
#app[orientation='portrait'] nav.v-menu .marker {
	right: .3rem;
	bottom: auto;
	top: .2rem;
}

#app-header.lang-center {
	display: grid;
	grid-template-columns: 1fr minmax(auto, 15rem) 1fr;
	grid-template-rows: var(--app-header-height);
	align-items: center;
	align-content: center;
}
#app[orientation='portrait'] #app-header.lang-center {
	grid-template-columns: 1fr 1.5fr 1fr;
}

#app[orientation='portrait'] #app-header.lang-center h1.mini {
	line-height: 1;
	margin: 0 !important;
	text-align: center;
	-webkit-text-stroke: #0008 0.5px;
	color: inherit;
}

main p {
	padding-inline: 1em;
	margin-inline: auto;
}
main :is(p,ul) {
	max-width: 40rem;
	padding-right: 1em;
}

.flip-x { transform: scaleX(-1) }


/* @media screen and (max-aspect-ratio: 1/1){

} */

/**  INPUTS / BUTTONS  **/

input[type='text'],
input[type='email'],
input[type='password'] {
	text-align: inherit;
	padding: 0 .25rem;
	height: 1.7rem; /* matches height: 2em of small button (fs:.85em) */
}
textarea::placeholder,
input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder {
	font-style: italic;
}
vs-text-input + button,
input[type='text'] + button,
input[type='email'] + button,
input[type='password'] + button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left-color: #00000008;
	box-shadow: none !important;
}

button, input, .button {
	font-family: Inter, sans-serif;
	font-weight: normal;
	font-size: inherit;
	text-align: inherit;
	line-height: 1.25;
}
textarea {
	font-size: inherit;
}

button[disabled], input[disabled], .button[disabled], textarea[disabled] {
	pointer-events: none;
	opacity: .6;
}
button[disabled] svg.icon, .button[disabled] svg.icon {
	opacity: .6;
}
svg.icon { /** inserted with useSVG('name') */
	display: inline-block;
}

a.button {
	text-decoration: none;
}
button, a.button {
	font-size: 1em;
	border-radius: .42rem;
	padding: 0 1ch;
	user-select: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
button > * { pointer-events: none }
button a { pointer-events: auto }

body.using-mouse *::-moz-focus-outer,
body.using-mouse *::-moz-focus-inner {
	border: 0;
}
body.using-mouse button,
body.using-mouse a { outline: none !important }

.xxx-large { font-size: 1.75em }
.xx-large { font-size: 1.5em }
.x-large, .bigger { font-size: 1.37em }
.large, .big { font-size: 1.25em }
.m-large, .medium { font-size: 1.125em }
.m-small { font-size: .92em }
.small { font-size: .85em; }
.x-small, .smaller { font-size: .75em }
.xx-small, .mini { font-size: .7em;}

button.round, button.square {
	width: 2em;
	height: 2em;
	padding: 0;
	flex-shrink: 0;
}
button.round {
	border-radius: 50%;
}
/* smaller icon with more padding */
button.green.add,
button.red.remove {
	padding: .3rem 0;
}

button.bare {
	background: none;
	border: none;
	box-shadow: none;
	border-radius: .25rem !important;
	padding-block: .25em;
}


/* With this there's no need to wrap sections in otherwise useless containers which only adds noise… Plus we can simply hide empty div for example on mobile / narrow screens and make a more compact flow, which would be impossible by using containers!
*/
[flow~='row'][flow~='divide'] > :is(div,p,h1,h2,h3,h4,h5,h6,section,article):not(.inline) { flex: 1 0 100% }
.inline { display: inline-block }


/* @keyframes step-pulse {
	0% {
		opacity: .6;
		animation-timing-function: steps(3);
	}
	50% {
		opacity: 1;
		animation-timing-function: steps(3);
	}
	100% {
		opacity: .6;
	}
} */